=begin
#REST API

#This is a sample definition of the Oracle WMS Cloud REST API.  The views expressed here are my own and do not necessarily reflect the views of Oracle.

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.13

=end

require 'uri'

module SwaggerClient
  class EntitytaskApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # EntityTaskById_GET
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields 
    # @return [Object]
    def entity_task_by_id_get(id, opts = {})
      data, _status_code, _headers = entity_task_by_id_get_with_http_info(id, opts)
      data
    end

    # EntityTaskById_GET
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields 
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def entity_task_by_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EntitytaskApi.entity_task_by_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EntitytaskApi.entity_task_by_id_get"
      end
      # resource path
      local_var_path = '/entity/task/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/xml'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
#      auth_names = ['basic', 'oauth2']
      auth_names = ['basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EntitytaskApi#entity_task_by_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # EntityTaskDescribe_GET
    # 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def entity_task_describe_get(opts = {})
      data, _status_code, _headers = entity_task_describe_get_with_http_info(opts)
      data
    end

    # EntityTaskDescribe_GET
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def entity_task_describe_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EntitytaskApi.entity_task_describe_get ...'
      end
      # resource path
      local_var_path = '/entity/task/describe'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/xml'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
#      auth_names = ['basic', 'oauth2']
      auth_names = ['basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EntitytaskApi#entity_task_describe_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # EntityTask_GET
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields 
    # @option opts [String] :ordering 
    # @option opts [String] :page_mode  (default to paged)
    # @option opts [Integer] :facility_id 
    # @option opts [String] :facility_id__code 
    # @option opts [String] :location_barcode 
    # @option opts [String] :task_type 
    # @option opts [String] :ordering_rule 
    # @return [Object]
    def entity_task_get(opts = {})
      data, _status_code, _headers = entity_task_get_with_http_info(opts)
      data
    end

    # EntityTask_GET
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields 
    # @option opts [String] :ordering 
    # @option opts [String] :page_mode 
    # @option opts [Integer] :facility_id 
    # @option opts [String] :facility_id__code 
    # @option opts [String] :location_barcode 
    # @option opts [String] :task_type 
    # @option opts [String] :ordering_rule 
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def entity_task_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EntitytaskApi.entity_task_get ...'
      end
      if @api_client.config.client_side_validation && opts[:'page_mode'] && !['paged', 'sequenced'].include?(opts[:'page_mode'])
        fail ArgumentError, 'invalid value for "page_mode", must be one of paged, sequenced'
      end
      # resource path
      local_var_path = '/entity/task'

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'page_mode'] = opts[:'page_mode'] if !opts[:'page_mode'].nil?
      query_params[:'facility_id'] = opts[:'facility_id'] if !opts[:'facility_id'].nil?
      query_params[:'facility_id__code'] = opts[:'facility_id__code'] if !opts[:'facility_id__code'].nil?
      query_params[:'location_barcode'] = opts[:'location_barcode'] if !opts[:'location_barcode'].nil?
      query_params[:'task_type'] = opts[:'task_type'] if !opts[:'task_type'].nil?
      query_params[:'ordering_rule'] = opts[:'ordering_rule'] if !opts[:'ordering_rule'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/xml'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
#      auth_names = ['basic', 'oauth2']
      auth_names = ['basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EntitytaskApi#entity_task_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # EntityTaskNextTask_GET
    # 
    # @param facility_id 
    # @param facility_id__code 
    # @param location_barcode 
    # @param ordering_rule 
    # @param task_type 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def entity_task_next_task_get(facility_id, facility_id__code, location_barcode, ordering_rule, task_type, opts = {})
      data, _status_code, _headers = entity_task_next_task_get_with_http_info(facility_id, facility_id__code, location_barcode, ordering_rule, task_type, opts)
      data
    end

    # EntityTaskNextTask_GET
    # 
    # @param facility_id 
    # @param facility_id__code 
    # @param location_barcode 
    # @param ordering_rule 
    # @param task_type 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def entity_task_next_task_get_with_http_info(facility_id, facility_id__code, location_barcode, ordering_rule, task_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EntitytaskApi.entity_task_next_task_get ...'
      end
      # verify the required parameter 'facility_id' is set
      if @api_client.config.client_side_validation && facility_id.nil?
        fail ArgumentError, "Missing the required parameter 'facility_id' when calling EntitytaskApi.entity_task_next_task_get"
      end
      # verify the required parameter 'facility_id__code' is set
      if @api_client.config.client_side_validation && facility_id__code.nil?
        fail ArgumentError, "Missing the required parameter 'facility_id__code' when calling EntitytaskApi.entity_task_next_task_get"
      end
      # verify the required parameter 'location_barcode' is set
      if @api_client.config.client_side_validation && location_barcode.nil?
        fail ArgumentError, "Missing the required parameter 'location_barcode' when calling EntitytaskApi.entity_task_next_task_get"
      end
      # verify the required parameter 'ordering_rule' is set
      if @api_client.config.client_side_validation && ordering_rule.nil?
        fail ArgumentError, "Missing the required parameter 'ordering_rule' when calling EntitytaskApi.entity_task_next_task_get"
      end
      # verify the required parameter 'task_type' is set
      if @api_client.config.client_side_validation && task_type.nil?
        fail ArgumentError, "Missing the required parameter 'task_type' when calling EntitytaskApi.entity_task_next_task_get"
      end
      # resource path
      local_var_path = '/entity/task/next_task'

      # query parameters
      query_params = {}
      query_params[:'facility_id'] = facility_id
      query_params[:'facility_id__code'] = facility_id__code
      query_params[:'location_barcode'] = location_barcode
      query_params[:'ordering_rule'] = ordering_rule
      query_params[:'task_type'] = task_type

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/xml'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
#      auth_names = ['basic', 'oauth2']
      auth_names = ['basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EntitytaskApi#entity_task_next_task_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
