=begin
#REST API

#This is a sample definition of the Oracle WMS Cloud REST API.  The views expressed here are my own and do not necessarily reflect the views of Oracle.

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.13

=end

require 'uri'

module SwaggerClient
  class PrintApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # PrintLabelIbContainer_GET
    # 
    # @param company_id 
    # @param container_nbr 
    # @param facility_id 
    # @param id 
    # @param label_designer_code 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def print_label_ib_container_get(company_id, container_nbr, facility_id, id, label_designer_code, opts = {})
      data, _status_code, _headers = print_label_ib_container_get_with_http_info(company_id, container_nbr, facility_id, id, label_designer_code, opts)
      data
    end

    # PrintLabelIbContainer_GET
    # 
    # @param company_id 
    # @param container_nbr 
    # @param facility_id 
    # @param id 
    # @param label_designer_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def print_label_ib_container_get_with_http_info(company_id, container_nbr, facility_id, id, label_designer_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrintApi.print_label_ib_container_get ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PrintApi.print_label_ib_container_get"
      end
      # verify the required parameter 'container_nbr' is set
      if @api_client.config.client_side_validation && container_nbr.nil?
        fail ArgumentError, "Missing the required parameter 'container_nbr' when calling PrintApi.print_label_ib_container_get"
      end
      # verify the required parameter 'facility_id' is set
      if @api_client.config.client_side_validation && facility_id.nil?
        fail ArgumentError, "Missing the required parameter 'facility_id' when calling PrintApi.print_label_ib_container_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PrintApi.print_label_ib_container_get"
      end
      # verify the required parameter 'label_designer_code' is set
      if @api_client.config.client_side_validation && label_designer_code.nil?
        fail ArgumentError, "Missing the required parameter 'label_designer_code' when calling PrintApi.print_label_ib_container_get"
      end
      # resource path
      local_var_path = '/print/label/ib_container'

      # query parameters
      query_params = {}
      query_params[:'company_id'] = company_id
      query_params[:'container_nbr'] = container_nbr
      query_params[:'facility_id'] = facility_id
      query_params[:'id'] = id
      query_params[:'label_designer_code'] = label_designer_code

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/xml'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
#      auth_names = ['basic', 'oauth2']
      auth_names = ['basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrintApi#print_label_ib_container_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # PrintLabelIbContainer_POST
    # 
    # @param company_id 
    # @param container_nbr 
    # @param facility_id 
    # @param id 
    # @param label_designer_code 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def print_label_ib_container_post(company_id, container_nbr, facility_id, id, label_designer_code, opts = {})
      data, _status_code, _headers = print_label_ib_container_post_with_http_info(company_id, container_nbr, facility_id, id, label_designer_code, opts)
      data
    end

    # PrintLabelIbContainer_POST
    # 
    # @param company_id 
    # @param container_nbr 
    # @param facility_id 
    # @param id 
    # @param label_designer_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def print_label_ib_container_post_with_http_info(company_id, container_nbr, facility_id, id, label_designer_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrintApi.print_label_ib_container_post ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PrintApi.print_label_ib_container_post"
      end
      # verify the required parameter 'container_nbr' is set
      if @api_client.config.client_side_validation && container_nbr.nil?
        fail ArgumentError, "Missing the required parameter 'container_nbr' when calling PrintApi.print_label_ib_container_post"
      end
      # verify the required parameter 'facility_id' is set
      if @api_client.config.client_side_validation && facility_id.nil?
        fail ArgumentError, "Missing the required parameter 'facility_id' when calling PrintApi.print_label_ib_container_post"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PrintApi.print_label_ib_container_post"
      end
      # verify the required parameter 'label_designer_code' is set
      if @api_client.config.client_side_validation && label_designer_code.nil?
        fail ArgumentError, "Missing the required parameter 'label_designer_code' when calling PrintApi.print_label_ib_container_post"
      end
      # resource path
      local_var_path = '/print/label/ib_container'

      # query parameters
      query_params = {}
      query_params[:'company_id'] = company_id
      query_params[:'container_nbr'] = container_nbr
      query_params[:'facility_id'] = facility_id
      query_params[:'id'] = id
      query_params[:'label_designer_code'] = label_designer_code

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/xml'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
#      auth_names = ['basic', 'oauth2']
      auth_names = ['basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrintApi#print_label_ib_container_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # PrintLabelPallet_GET
    # 
    # @param company_id 
    # @param container_nbr 
    # @param facility_id 
    # @param id 
    # @param label_designer_code 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def print_label_pallet_get(company_id, container_nbr, facility_id, id, label_designer_code, opts = {})
      data, _status_code, _headers = print_label_pallet_get_with_http_info(company_id, container_nbr, facility_id, id, label_designer_code, opts)
      data
    end

    # PrintLabelPallet_GET
    # 
    # @param company_id 
    # @param container_nbr 
    # @param facility_id 
    # @param id 
    # @param label_designer_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def print_label_pallet_get_with_http_info(company_id, container_nbr, facility_id, id, label_designer_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrintApi.print_label_pallet_get ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PrintApi.print_label_pallet_get"
      end
      # verify the required parameter 'container_nbr' is set
      if @api_client.config.client_side_validation && container_nbr.nil?
        fail ArgumentError, "Missing the required parameter 'container_nbr' when calling PrintApi.print_label_pallet_get"
      end
      # verify the required parameter 'facility_id' is set
      if @api_client.config.client_side_validation && facility_id.nil?
        fail ArgumentError, "Missing the required parameter 'facility_id' when calling PrintApi.print_label_pallet_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PrintApi.print_label_pallet_get"
      end
      # verify the required parameter 'label_designer_code' is set
      if @api_client.config.client_side_validation && label_designer_code.nil?
        fail ArgumentError, "Missing the required parameter 'label_designer_code' when calling PrintApi.print_label_pallet_get"
      end
      # resource path
      local_var_path = '/print/label/pallet'

      # query parameters
      query_params = {}
      query_params[:'company_id'] = company_id
      query_params[:'container_nbr'] = container_nbr
      query_params[:'facility_id'] = facility_id
      query_params[:'id'] = id
      query_params[:'label_designer_code'] = label_designer_code

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/xml'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
#      auth_names = ['basic', 'oauth2']
      auth_names = ['basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrintApi#print_label_pallet_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # PrintLabelPallet_POST
    # 
    # @param company_id 
    # @param container_nbr 
    # @param facility_id 
    # @param id 
    # @param label_designer_code 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def print_label_pallet_post(company_id, container_nbr, facility_id, id, label_designer_code, opts = {})
      data, _status_code, _headers = print_label_pallet_post_with_http_info(company_id, container_nbr, facility_id, id, label_designer_code, opts)
      data
    end

    # PrintLabelPallet_POST
    # 
    # @param company_id 
    # @param container_nbr 
    # @param facility_id 
    # @param id 
    # @param label_designer_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def print_label_pallet_post_with_http_info(company_id, container_nbr, facility_id, id, label_designer_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrintApi.print_label_pallet_post ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PrintApi.print_label_pallet_post"
      end
      # verify the required parameter 'container_nbr' is set
      if @api_client.config.client_side_validation && container_nbr.nil?
        fail ArgumentError, "Missing the required parameter 'container_nbr' when calling PrintApi.print_label_pallet_post"
      end
      # verify the required parameter 'facility_id' is set
      if @api_client.config.client_side_validation && facility_id.nil?
        fail ArgumentError, "Missing the required parameter 'facility_id' when calling PrintApi.print_label_pallet_post"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PrintApi.print_label_pallet_post"
      end
      # verify the required parameter 'label_designer_code' is set
      if @api_client.config.client_side_validation && label_designer_code.nil?
        fail ArgumentError, "Missing the required parameter 'label_designer_code' when calling PrintApi.print_label_pallet_post"
      end
      # resource path
      local_var_path = '/print/label/pallet'

      # query parameters
      query_params = {}
      query_params[:'company_id'] = company_id
      query_params[:'container_nbr'] = container_nbr
      query_params[:'facility_id'] = facility_id
      query_params[:'id'] = id
      query_params[:'label_designer_code'] = label_designer_code

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/xml'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
#      auth_names = ['basic', 'oauth2']
      auth_names = ['basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrintApi#print_label_pallet_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # PrintLabelShipping_GET
    # 
    # @param company_id 
    # @param container_nbr 
    # @param facility_id 
    # @param id 
    # @param label_designer_code 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def print_label_shipping_get(company_id, container_nbr, facility_id, id, label_designer_code, opts = {})
      data, _status_code, _headers = print_label_shipping_get_with_http_info(company_id, container_nbr, facility_id, id, label_designer_code, opts)
      data
    end

    # PrintLabelShipping_GET
    # 
    # @param company_id 
    # @param container_nbr 
    # @param facility_id 
    # @param id 
    # @param label_designer_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def print_label_shipping_get_with_http_info(company_id, container_nbr, facility_id, id, label_designer_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrintApi.print_label_shipping_get ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PrintApi.print_label_shipping_get"
      end
      # verify the required parameter 'container_nbr' is set
      if @api_client.config.client_side_validation && container_nbr.nil?
        fail ArgumentError, "Missing the required parameter 'container_nbr' when calling PrintApi.print_label_shipping_get"
      end
      # verify the required parameter 'facility_id' is set
      if @api_client.config.client_side_validation && facility_id.nil?
        fail ArgumentError, "Missing the required parameter 'facility_id' when calling PrintApi.print_label_shipping_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PrintApi.print_label_shipping_get"
      end
      # verify the required parameter 'label_designer_code' is set
      if @api_client.config.client_side_validation && label_designer_code.nil?
        fail ArgumentError, "Missing the required parameter 'label_designer_code' when calling PrintApi.print_label_shipping_get"
      end
      # resource path
      local_var_path = '/print/label/shipping'

      # query parameters
      query_params = {}
      query_params[:'company_id'] = company_id
      query_params[:'container_nbr'] = container_nbr
      query_params[:'facility_id'] = facility_id
      query_params[:'id'] = id
      query_params[:'label_designer_code'] = label_designer_code

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/xml'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
#      auth_names = ['basic', 'oauth2']
      auth_names = ['basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrintApi#print_label_shipping_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # PrintLabelShipping_POST
    # 
    # @param company_id 
    # @param container_nbr 
    # @param facility_id 
    # @param id 
    # @param label_designer_code 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def print_label_shipping_post(company_id, container_nbr, facility_id, id, label_designer_code, opts = {})
      data, _status_code, _headers = print_label_shipping_post_with_http_info(company_id, container_nbr, facility_id, id, label_designer_code, opts)
      data
    end

    # PrintLabelShipping_POST
    # 
    # @param company_id 
    # @param container_nbr 
    # @param facility_id 
    # @param id 
    # @param label_designer_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def print_label_shipping_post_with_http_info(company_id, container_nbr, facility_id, id, label_designer_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrintApi.print_label_shipping_post ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PrintApi.print_label_shipping_post"
      end
      # verify the required parameter 'container_nbr' is set
      if @api_client.config.client_side_validation && container_nbr.nil?
        fail ArgumentError, "Missing the required parameter 'container_nbr' when calling PrintApi.print_label_shipping_post"
      end
      # verify the required parameter 'facility_id' is set
      if @api_client.config.client_side_validation && facility_id.nil?
        fail ArgumentError, "Missing the required parameter 'facility_id' when calling PrintApi.print_label_shipping_post"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PrintApi.print_label_shipping_post"
      end
      # verify the required parameter 'label_designer_code' is set
      if @api_client.config.client_side_validation && label_designer_code.nil?
        fail ArgumentError, "Missing the required parameter 'label_designer_code' when calling PrintApi.print_label_shipping_post"
      end
      # resource path
      local_var_path = '/print/label/shipping'

      # query parameters
      query_params = {}
      query_params[:'company_id'] = company_id
      query_params[:'container_nbr'] = container_nbr
      query_params[:'facility_id'] = facility_id
      query_params[:'id'] = id
      query_params[:'label_designer_code'] = label_designer_code

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/xml'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
#      auth_names = ['basic', 'oauth2']
      auth_names = ['basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrintApi#print_label_shipping_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
