=begin
#REST API

#This is a sample definition of the Oracle WMS Cloud REST API.  The views expressed here are my own and do not necessarily reflect the views of Oracle.

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.13

=end

require 'uri'

module SwaggerClient
  class ReportApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # ReportCustomInventorySummary_GET
    # 
    # @param item_code 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :company_id 
    # @option opts [String] :company_id__code 
    # @option opts [Float] :facility_id 
    # @option opts [String] :facility_id__code 
    # @option opts [BOOLEAN] :write_header_line_flg 
    # @return [Object]
    def report_custom_inventory_summary_get(item_code, opts = {})
      data, _status_code, _headers = report_custom_inventory_summary_get_with_http_info(item_code, opts)
      data
    end

    # ReportCustomInventorySummary_GET
    # 
    # @param item_code 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :company_id 
    # @option opts [String] :company_id__code 
    # @option opts [Float] :facility_id 
    # @option opts [String] :facility_id__code 
    # @option opts [BOOLEAN] :write_header_line_flg 
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def report_custom_inventory_summary_get_with_http_info(item_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportApi.report_custom_inventory_summary_get ...'
      end
      # verify the required parameter 'item_code' is set
      if @api_client.config.client_side_validation && item_code.nil?
        fail ArgumentError, "Missing the required parameter 'item_code' when calling ReportApi.report_custom_inventory_summary_get"
      end
      # resource path
      local_var_path = '/report/custom_inventory_summary'

      # query parameters
      query_params = {}
      query_params[:'item_code'] = item_code
      query_params[:'company_id'] = opts[:'company_id'] if !opts[:'company_id'].nil?
      query_params[:'company_id__code'] = opts[:'company_id__code'] if !opts[:'company_id__code'].nil?
      query_params[:'facility_id'] = opts[:'facility_id'] if !opts[:'facility_id'].nil?
      query_params[:'facility_id__code'] = opts[:'facility_id__code'] if !opts[:'facility_id__code'].nil?
      query_params[:'write_header_line_flg'] = opts[:'write_header_line_flg'] if !opts[:'write_header_line_flg'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/xml'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
#      auth_names = ['basic', 'oauth2']
      auth_names = ['basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportApi#report_custom_inventory_summary_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
