FORMAT: 1A
HOST: https://demo.wms.ocs.oraclecloud.com/demo_a9/wms/lgfapi/v10

# REST API

This is a sample definition of the Oracle WMS Cloud REST API.

The views expressed here are my own and do not necessarily reflect the views of Oracle.

# Group entity/action_code

## GET /entity/action_code{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``
  
+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/action_code/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/action_code/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/active_location

## /entity/active_location{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

## GET /entity/active_location/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/active_location/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

### PATCH

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/allocation

## /entity/allocation{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

## GET /entity/allocation/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/allocation/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

# Group entity/allocation_distribution_mode

## GET /entity/allocation_distribution_mode{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/allocation_distribution_mode/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/allocation_distribution_mode/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/allocation_status

## GET /entity/allocation_status{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/allocation_status/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/allocation_status/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/answer_input_type

## GET /entity/answer_input_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/answer_input_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/answer_input_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/appointment

## /entity/appointment{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

## GET /entity/appointment/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/appointment{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

### PATCH

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/appointment_status

## GET /entity/appointment_status{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/appointment_status/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/appointment_status/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/asset_status

## GET /entity/asset_status{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/asset_status/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/asset_status/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/audit_mode

## GET /entity/audit_mode{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/audit_mode/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/audit_mode/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/audit_status

## GET /entity/audit_status{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/audit_status/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/audit_status/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/audit_type

## GET /entity/audit_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/audit_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/audit_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/barcode_type

## /entity/barcode_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

## GET /entity/barcode_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/barcode_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

# Group entity/barcode_type_dtl

## /entity/barcode_type_dtl{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

## GET /entity/barcode_type_dtl/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/barcode_type_dtl/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

# Group entity/batch_number

## /entity/batch_number{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

### POST

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

+ Response 201 (application/json)

    + Body

            {
            }

+ Response 201 (application/xml)

    + Body

            ``

## GET /entity/batch_number/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/batch_number/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

# Group entity/break_by_modifier

## GET /entity/break_by_modifier{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/break_by_modifier/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/break_by_modifier/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/bridge_status

## GET /entity/bridge_status{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/bridge_status/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/bridge_status/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/capacity_check_method

## GET /entity/capacity_check_method{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/capacity_check_method/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/capacity_check_method/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/carrier_integration_type

## GET /entity/carrier_integration_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/carrier_integration_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/carrier_integration_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/carrier_lpn

## /entity/carrier_lpn{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

## GET /entity/carrier_lpn/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/carrier_lpn/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

# Group entity/carrier_status

## GET /entity/carrier_status{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/carrier_status/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/carrier_status/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/carrier_type

## GET /entity/carrier_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/carrier_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/carrier_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/carrier_webservice_label_type

## GET /entity/carrier_webservice_label_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/carrier_webservice_label_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/carrier_webservice_label_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/cc_adjustment_status

## GET /entity/cc_adjustment_status{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/cc_adjustment_status/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/cc_adjustment_status/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/cc_creation_type

## GET /entity/cc_creation_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/cc_creation_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/cc_creation_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/cc_trigger

## GET /entity/cc_trigger{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/cc_trigger/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/cc_trigger/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/cc_warning

## GET /entity/cc_warning{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/cc_warning/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/cc_warning/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/check_digit_method

## GET /entity/check_digit_method{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/check_digit_method/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/check_digit_method/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/column_order_type

## GET /entity/column_order_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/column_order_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/column_order_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/company

## /entity/company{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

## GET /entity/company/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/company/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

### PATCH

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/company_parm

## /entity/company_parm{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

### POST

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

+ Response 201 (application/json)

    + Body

            {
            }

+ Response 201 (application/xml)

    + Body

            ``

## GET /entity/company_parm/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/company_parm/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

# Group entity/company_type

## GET /entity/company_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/company_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/company_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/condition_type

## GET /entity/condition_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/condition_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/condition_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/contact

## /entity/contact{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

## GET /entity/contact/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/contact/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

# Group entity/container

## /entity/container{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

## POST /entity/container/bulk_lock

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

+ Response 201 (application/json)

    + Body

            {
            }

+ Response 201 (application/xml)

    + Body

            ``

## POST /entity/container/bulk_unlock

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

+ Response 201 (application/json)

    + Body

            {
            }

+ Response 201 (application/xml)

    + Body

            ``

## POST /entity/container/depalletize

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

+ Response 201 (application/json)

    + Body

            {
            }

+ Response 201 (application/xml)

    + Body

            ``

## GET /entity/container/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/container/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

### PATCH

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## POST /entity/container/{id}/lock

+ Parameters

    + id (number)

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

+ Response 201 (application/json)

    + Body

            {
            }

+ Response 201 (application/xml)

    + Body

            ``

## POST /entity/container/{id}/unlock

+ Parameters

    + id (number)

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

+ Response 201 (application/json)

    + Body

            {
            }

+ Response 201 (application/xml)

    + Body

            ``

## GET /entity/container/{id}/orders

+ Parameters

    + id (number)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## POST /entity/container/{id}/palletize

+ Parameters

    + id (number)

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

+ Response 201 (application/json)

    + Body

            {
            }

+ Response 201 (application/xml)

    + Body

            ``

## POST /entity/container/{id}/depalletize

+ Parameters

    + id (number)

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

+ Response 201 (application/json)

    + Body

            {
            }

+ Response 201 (application/xml)

    + Body

            ``

# Group entity/container_status

## GET /entity/container_status{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/container_status/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/container_status/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/container_vas_status

## GET /entity/container_vas_status{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/container_vas_status/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/container_vas_status/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/cubing_mode

## GET /entity/cubing_mode{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/cubing_mode/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/cubing_mode/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/date_format

## GET /entity/date_format{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/date_format/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/date_format/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/destination_location_type

## GET /entity/destination_location_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/destination_location_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/destination_location_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/dock

## /entity/dock{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

## GET /entity/dock/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/dock/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

# Group entity/dock_status

## GET /entity/dock_status{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/dock_status/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/dock_status/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/dock_type

## /entity/dock_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

## GET /entity/dock_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/dock_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

# Group entity/entity

## GET /entity/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/entity_change_action

## GET /entity/entity_change_action{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/entity_change_action/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/entity_change_action/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/facility

## /entity/facility{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

## GET /entity/facility/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/facility/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

### PATCH

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/facility_parm

## /entity/facility_parm{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

### POST

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

+ Response 201 (application/json)

    + Body

            {
            }

+ Response 201 (application/xml)

    + Body

            ``

## GET /entity/facility_parm/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/facility_parm/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

# Group entity/facility_type

## GET /entity/facility_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/facility_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/facility_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/form_type

## GET /entity/form_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/form_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/form_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/hazmat_regulation_type

## GET /entity/hazmat_regulation_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/hazmat_regulation_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/hazmat_regulation_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/hire_type

## GET /entity/hire_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/hire_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/hire_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/ib_shipment

## /entity/ib_shipment{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

## GET /entity/ib_shipment/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/ib_shipment/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

### PATCH

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/ib_shipment_dtl

## /entity/ib_shipment_dtl{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

## GET /entity/ib_shipment_dtl/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/ib_shipment_dtl/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

### PATCH

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/ib_shipment_serial_nbr

## /entity/ib_shipment_serial_nbr{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

## GET /entity/ib_shipment_serial_nbr/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## /entity/ib_shipment_serial_nbr/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

# Group entity/ib_shipment_status

## GET /entity/ib_shipment_status{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/ib_shipment_status/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/ib_shipment_status/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/iblpn

## /entity/iblpn{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

### POST

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

+ Response 201 (application/json)

    + Body

            {
            }

+ Response 201 (application/xml)

    + Body

            ``

## POST /entity/iblpn/composite_create

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

+ Response 201 (application/json)

    + Body

            {
            }

+ Response 201 (application/xml)

    + Body

            ``

## GET /entity/iblpn/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## POST /entity/iblpn/modify_item_qty

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

+ Response 201 (application/json)

    + Body

            {
            }

+ Response 201 (application/xml)

    + Body

            ``

## /entity/iblpn/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

            If-Modified-Since: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

### PATCH

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## POST /entity/iblpn/{id}/direct_consume

+ Parameters

    + id (number)

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

+ Response 201 (application/json)

    + Body

            {
            }

+ Response 201 (application/xml)

    + Body

            ``

## POST /entity/iblpn/{id}/modify_item_qty

+ Parameters

    + id (number)

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

+ Response 201 (application/json)

    + Body

            {
            }

+ Response 201 (application/xml)

    + Body

            ``

# Group entity/interface_format_type

## GET /entity/interface_format_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/interface_format_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/interface_format_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/interface_protocol

## GET /entity/interface_protocol{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/interface_protocol/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/interface_protocol/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/interface_type

## GET /entity/interface_type{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/interface_type/describe

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

## GET /entity/interface_type/{id}{?fields}

+ Parameters

    + id (number)

    + fields (optional)

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

# Group entity/inventory

## /entity/inventory{?fields,ordering,page_mode}

+ Parameters

    + fields (optional)

    + ordering (optional)

    + page_mode (enum[string], optional)

        + Default: `paged`

        + Members

            + `paged`

            + `sequenced`

### GET

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

### HEAD

+ Request (application/json)

    + Headers

            Authorization: ``

+ Request (application/xml)

    + Headers

            Authorization: ``

+ Response 200 (application/json)

+ Response 200 (application/xml)

### POST

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

+ Response 201 (application/json)

    + Body

            {
            }

+ Response 201 (application/xml)

    + Body

            ``

## POST /entity/inventory/bulk_update_inventory_attributes

+ Request (application/json)

    + Headers

            Authorization: ``

    + Body

            {
            }

+ Request (application/xml)

    + Headers

            Authorization: ``

    + Body

            ``

+ Response 200 (application/json)

    + Body

            {
            }

+ Response 200 (application/xml)

    + Body

            `` 

+ Response 201 (application/json)
[...]
