swagger: '2.0'
info:
  version: '1.0'
  title: REST API
  description: >-
    This is a sample definition of the Oracle WMS Cloud REST API.


    The views expressed here are my own and do not necessarily reflect the views of Oracle.
host: demo.wms.ocs.oraclecloud.com
basePath: /demo_a9/wms/lgfapi/v10
schemes:
- https
consumes:
- application/json
- application/xml
produces:
- application/json
- application/xml
security:
- basic: []
- oauth2: []
paths:
  /entity/action_code:
    get:
      description: ''
      summary: EntityActionCode_GET
      tags:
      - entity/action_code
      operationId: EntityActionCode_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/action_code/describe:
    get:
      description: ''
      summary: EntityActionCodeDescribe_GET
      tags:
      - entity/action_code
      operationId: EntityActionCodeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/action_code/{id}:
    get:
      description: ''
      summary: EntityActionCodeById_GET
      tags:
      - entity/action_code
      operationId: EntityActionCodeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/active_location:
    get:
      description: ''
      summary: EntityActiveLocation_GET
      tags:
      - entity/active_location
      operationId: EntityActiveLocation_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/active_location/describe:
    get:
      description: ''
      summary: EntityActiveLocationDescribe_GET
      tags:
      - entity/active_location
      operationId: EntityActiveLocationDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/active_location/{id}:
    get:
      description: ''
      summary: EntityActiveLocationById_GET
      tags:
      - entity/active_location
      operationId: EntityActiveLocationById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
    patch:
      description: ''
      summary: EntityActiveLocationById_PATCH
      tags:
      - entity/active_location
      operationId: EntityActiveLocationById_PATCH
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/allocation:
    get:
      description: ''
      summary: EntityAllocation_GET
      tags:
      - entity/allocation
      operationId: EntityAllocation_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/allocation/describe:
    get:
      description: ''
      summary: EntityAllocationDescribe_GET
      tags:
      - entity/allocation
      operationId: EntityAllocationDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/allocation/{id}:
    get:
      description: ''
      summary: EntityAllocationById_GET
      tags:
      - entity/allocation
      operationId: EntityAllocationById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/allocation_distribution_mode:
    get:
      description: ''
      summary: EntityAllocationDistributionMode_GET
      tags:
      - entity/allocation_distribution_mode
      operationId: EntityAllocationDistributionMode_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/allocation_distribution_mode/describe:
    get:
      description: ''
      summary: EntityAllocationDistributionModeDescribe_GET
      tags:
      - entity/allocation_distribution_mode
      operationId: EntityAllocationDistributionModeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/allocation_distribution_mode/{id}:
    get:
      description: ''
      summary: EntityAllocationDistributionModeById_GET
      tags:
      - entity/allocation_distribution_mode
      operationId: EntityAllocationDistributionModeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/allocation_status:
    get:
      description: ''
      summary: EntityAllocationStatus_GET
      tags:
      - entity/allocation_status
      operationId: EntityAllocationStatus_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/allocation_status/describe:
    get:
      description: ''
      summary: EntityAllocationStatusDescribe_GET
      tags:
      - entity/allocation_status
      operationId: EntityAllocationStatusDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/allocation_status/{id}:
    get:
      description: ''
      summary: EntityAllocationStatusById_GET
      tags:
      - entity/allocation_status
      operationId: EntityAllocationStatusById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/answer_input_type:
    get:
      description: ''
      summary: EntityAnswerInputType_GET
      tags:
      - entity/answer_input_type
      operationId: EntityAnswerInputType_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/answer_input_type/describe:
    get:
      description: ''
      summary: EntityAnswerInputTypeDescribe_GET
      tags:
      - entity/answer_input_type
      operationId: EntityAnswerInputTypeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/answer_input_type/{id}:
    get:
      description: ''
      summary: EntityAnswerInputTypeById_GET
      tags:
      - entity/answer_input_type
      operationId: EntityAnswerInputTypeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/appointment:
    get:
      description: ''
      summary: EntityAppointment_GET
      tags:
      - entity/appointment
      operationId: EntityAppointment_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/appointment/describe:
    get:
      description: ''
      summary: EntityAppointmentDescribe_GET
      tags:
      - entity/appointment
      operationId: EntityAppointmentDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/appointment{id}:
    get:
      description: ''
      summary: EntityAppointmentById_GET
      tags:
      - entity/appointment
      operationId: EntityAppointmentById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
    patch:
      description: ''
      summary: EntityAppointmentById_PATCH
      tags:
      - entity/appointment
      operationId: EntityAppointmentById_PATCH
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/appointment_status:
    get:
      description: ''
      summary: EntityAppointmentStatus_GET
      tags:
      - entity/appointment_status
      operationId: EntityAppointmentStatus_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/appointment_status/describe:
    get:
      description: ''
      summary: EntityAppointmentStatusDescribe_GET
      tags:
      - entity/appointment_status
      operationId: EntityAppointmentStatusDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/appointment_status/{id}:
    get:
      description: ''
      summary: EntityAppointmentStatusById_GET
      tags:
      - entity/appointment_status
      operationId: EntityAppointmentStatusById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/asset_status:
    get:
      description: ''
      summary: EntityAssetStatus_GET
      tags:
      - entity/asset_status
      operationId: EntityAssetStatus_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/asset_status/describe:
    get:
      description: ''
      summary: EntityAssetStatusDescribe_GET
      tags:
      - entity/asset_status
      operationId: EntityAssetStatusDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/asset_status/{id}:
    get:
      description: ''
      summary: EntityAssetStatusById_GET
      tags:
      - entity/asset_status
      operationId: EntityAssetStatusById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/audit_mode:
    get:
      description: ''
      summary: EntityAuditMode_GET
      tags:
      - entity/audit_mode
      operationId: EntityAuditMode_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/audit_mode/describe:
    get:
      description: ''
      summary: EntityAuditModeDescribe_GET
      tags:
      - entity/audit_mode
      operationId: EntityAuditModeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/audit_mode/{id}:
    get:
      description: ''
      summary: EntityAuditModeById_GET
      tags:
      - entity/audit_mode
      operationId: EntityAuditModeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/audit_status:
    get:
      description: ''
      summary: EntityAuditStatus_GET
      tags:
      - entity/audit_status
      operationId: EntityAuditStatus_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/audit_status/describe:
    get:
      description: ''
      summary: EntityAuditStatusDescribe_GET
      tags:
      - entity/audit_status
      operationId: EntityAuditStatusDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/audit_status/{id}:
    get:
      description: ''
      summary: EntityAuditStatusById_GET
      tags:
      - entity/audit_status
      operationId: EntityAuditStatusById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/audit_type:
    get:
      description: ''
      summary: EntityAuditType_GET
      tags:
      - entity/audit_type
      operationId: EntityAuditType_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/audit_type/describe:
    get:
      description: ''
      summary: EntityAuditTypeDescribe_GET
      tags:
      - entity/audit_type
      operationId: EntityAuditTypeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/audit_type/{id}:
    get:
      description: ''
      summary: EntityAuditTypeById_GET
      tags:
      - entity/audit_type
      operationId: EntityAuditTypeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/barcode_type:
    get:
      description: ''
      summary: EntityBarcodeType_GET
      tags:
      - entity/barcode_type
      operationId: EntityBarcodeType_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/barcode_type/describe:
    get:
      description: ''
      summary: EntityBarcodeTypeDescribe_GET
      tags:
      - entity/barcode_type
      operationId: EntityBarcodeTypeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/barcode_type/{id}:
    get:
      description: ''
      summary: EntityBarcodeTypeById_GET
      tags:
      - entity/barcode_type
      operationId: EntityBarcodeTypeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/barcode_type_dtl:
    get:
      description: ''
      summary: EntityBarcodeTypeDtl_GET
      tags:
      - entity/barcode_type_dtl
      operationId: EntityBarcodeTypeDtl_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/barcode_type_dtl/describe:
    get:
      description: ''
      summary: EntityBarcodeTypeDtlDescribe_GET
      tags:
      - entity/barcode_type_dtl
      operationId: EntityBarcodeTypeDtlDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/barcode_type_dtl/{id}:
    get:
      description: ''
      summary: EntityBarcodeTypeDtlById_GET
      tags:
      - entity/barcode_type_dtl
      operationId: EntityBarcodeTypeDtlById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/batch_number:
    get:
      description: ''
      summary: EntityBatchNumber_GET
      tags:
      - entity/batch_number
      operationId: EntityBatchNumber_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
    post:
      description: ''
      summary: EntityBatchNumber_POST
      tags:
      - entity/batch_number
      operationId: EntityBatchNumber_POST
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        201:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/batch_number/describe:
    get:
      description: ''
      summary: EntityBatchNumberDescribe_GET
      tags:
      - entity/batch_number
      operationId: EntityBatchNumberDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/batch_number/{id}:
    get:
      description: ''
      summary: EntityBatchNumberById_GET
      tags:
      - entity/batch_number
      operationId: EntityBatchNumberById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/break_by_modifier:
    get:
      description: ''
      summary: EntityBreakByModifier_GET
      tags:
      - entity/break_by_modifier
      operationId: EntityBreakByModifier_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/break_by_modifier/describe:
    get:
      description: ''
      summary: EntityBreakByModifierDescribe_GET
      tags:
      - entity/break_by_modifier
      operationId: EntityBreakByModifierDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/break_by_modifier/{id}:
    get:
      description: ''
      summary: EntityBreakByModifierById_GET
      tags:
      - entity/break_by_modifier
      operationId: EntityBreakByModifierById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/bridge_status:
    get:
      description: ''
      summary: EntityBridgeStatus_GET
      tags:
      - entity/bridge_status
      operationId: EntityBridgeStatus_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/bridge_status/describe:
    get:
      description: ''
      summary: EntityBridgeStatusDescribe_GET
      tags:
      - entity/bridge_status
      operationId: EntityBridgeStatusDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/bridge_status/{id}:
    get:
      description: ''
      summary: EntityBridgeStatusById_GET
      tags:
      - entity/bridge_status
      operationId: EntityBridgeStatusById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/capacity_check_method:
    get:
      description: ''
      summary: EntityCapacityCheckMethod_GET
      tags:
      - entity/capacity_check_method
      operationId: EntityCapacityCheckMethod_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/capacity_check_method/describe:
    get:
      description: ''
      summary: EntityCapacityCheckMethodDescribe_GET
      tags:
      - entity/capacity_check_method
      operationId: EntityCapacityCheckMethodDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/capacity_check_method/{id}:
    get:
      description: ''
      summary: EntityCapacityCheckMethodById_GET
      tags:
      - entity/capacity_check_method
      operationId: EntityCapacityCheckMethodById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/carrier_integration_type:
    get:
      description: ''
      summary: EntityCarrierIntegrationType_GET
      tags:
      - entity/carrier_integration_type
      operationId: EntityCarrierIntegrationType_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/carrier_integration_type/describe:
    get:
      description: ''
      summary: EntityCarrierIntegrationTypeDescribe_GET
      tags:
      - entity/carrier_integration_type
      operationId: EntityCarrierIntegrationTypeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/carrier_integration_type/{id}:
    get:
      description: ''
      summary: EntityCarrierIntegrationTypeById_GET
      tags:
      - entity/carrier_integration_type
      operationId: EntityCarrierIntegrationTypeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/carrier_lpn:
    get:
      description: ''
      summary: EntityCarrierLpn_GET
      tags:
      - entity/carrier_lpn
      operationId: EntityCarrierLpn_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/carrier_lpn/describe:
    get:
      description: ''
      summary: EntityCarrierLpnDescribe_GET
      tags:
      - entity/carrier_lpn
      operationId: EntityCarrierLpnDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/carrier_lpn/{id}:
    get:
      description: ''
      summary: EntityCarrierLpnById_GET
      tags:
      - entity/carrier_lpn
      operationId: EntityCarrierLpnById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/carrier_status:
    get:
      description: ''
      summary: EntityCarrierStatus_GET
      tags:
      - entity/carrier_status
      operationId: EntityCarrierStatus_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/carrier_status/describe:
    get:
      description: ''
      summary: EntityCarrierStatusDescribe_GET
      tags:
      - entity/carrier_status
      operationId: EntityCarrierStatusDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/carrier_status/{id}:
    get:
      description: ''
      summary: EntityCarrierStatusById_GET
      tags:
      - entity/carrier_status
      operationId: EntityCarrierStatusById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/carrier_type:
    get:
      description: ''
      summary: EntityCarrierType_GET
      tags:
      - entity/carrier_type
      operationId: EntityCarrierType_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/carrier_type/describe:
    get:
      description: ''
      summary: EntityCarrierTypeDescribe_GET
      tags:
      - entity/carrier_type
      operationId: EntityCarrierTypeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/carrier_type/{id}:
    get:
      description: ''
      summary: EntityCarrierTypeById_GET
      tags:
      - entity/carrier_type
      operationId: EntityCarrierTypeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/carrier_webservice_label_type:
    get:
      description: ''
      summary: EntityCarrierWebserviceLabelType_GET
      tags:
      - entity/carrier_webservice_label_type
      operationId: EntityCarrierWebserviceLabelType_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/carrier_webservice_label_type/describe:
    get:
      description: ''
      summary: EntityCarrierWebserviceLabelTypeDescribe_GET
      tags:
      - entity/carrier_webservice_label_type
      operationId: EntityCarrierWebserviceLabelTypeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/carrier_webservice_label_type/{id}:
    get:
      description: ''
      summary: EntityCarrierWebserviceLabelTypeById_GET
      tags:
      - entity/carrier_webservice_label_type
      operationId: EntityCarrierWebserviceLabelTypeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/cc_adjustment_status:
    get:
      description: ''
      summary: EntityCcAdjustmentStatus_GET
      tags:
      - entity/cc_adjustment_status
      operationId: EntityCcAdjustmentStatus_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/cc_adjustment_status/describe:
    get:
      description: ''
      summary: EntityCcAdjustmentStatusDescribe_GET
      tags:
      - entity/cc_adjustment_status
      operationId: EntityCcAdjustmentStatusDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/cc_adjustment_status/{id}:
    get:
      description: ''
      summary: EntityCcAdjustmentStatusById_GET
      tags:
      - entity/cc_adjustment_status
      operationId: EntityCcAdjustmentStatusById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/cc_creation_type:
    get:
      description: ''
      summary: EntityCcCreationType_GET
      tags:
      - entity/cc_creation_type
      operationId: EntityCcCreationType_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/cc_creation_type/describe:
    get:
      description: ''
      summary: EntityCcCreationTypeDescribe_GET
      tags:
      - entity/cc_creation_type
      operationId: EntityCcCreationTypeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/cc_creation_type/{id}:
    get:
      description: ''
      summary: EntityCcCreationTypeById_GET
      tags:
      - entity/cc_creation_type
      operationId: EntityCcCreationTypeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/cc_trigger:
    get:
      description: ''
      summary: EntityCcTrigger_GET
      tags:
      - entity/cc_trigger
      operationId: EntityCcTrigger_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/cc_trigger/describe:
    get:
      description: ''
      summary: EntityCcTriggerDescribe_GET
      tags:
      - entity/cc_trigger
      operationId: EntityCcTriggerDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/cc_trigger/{id}:
    get:
      description: ''
      summary: EntityCcTriggerById_GET
      tags:
      - entity/cc_trigger
      operationId: EntityCcTriggerById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/cc_warning:
    get:
      description: ''
      summary: EntityCcWarning_GET
      tags:
      - entity/cc_warning
      operationId: EntityCcWarning_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/cc_warning/describe:
    get:
      description: ''
      summary: EntityCcWarningDescribe_GET
      tags:
      - entity/cc_warning
      operationId: EntityCcWarningDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/cc_warning/{id}:
    get:
      description: ''
      summary: EntityCcWarningById_GET
      tags:
      - entity/cc_warning
      operationId: EntityCcWarningById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/check_digit_method:
    get:
      description: ''
      summary: EntityCheckDigitMethod_GET
      tags:
      - entity/check_digit_method
      operationId: EntityCheckDigitMethod_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/check_digit_method/describe:
    get:
      description: ''
      summary: EntityCheckDigitMethodDescribe_GET
      tags:
      - entity/check_digit_method
      operationId: EntityCheckDigitMethodDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/check_digit_method/{id}:
    get:
      description: ''
      summary: EntityCheckDigitMethodById_GET
      tags:
      - entity/check_digit_method
      operationId: EntityCheckDigitMethodById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/column_order_type:
    get:
      description: ''
      summary: EntityColumnOrderType_GET
      tags:
      - entity/column_order_type
      operationId: EntityColumnOrderType_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/column_order_type/describe:
    get:
      description: ''
      summary: EntityColumnOrderTypeDescribe_GET
      tags:
      - entity/column_order_type
      operationId: EntityColumnOrderTypeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/column_order_type/{id}:
    get:
      description: ''
      summary: EntityColumnOrderTypeById_GET
      tags:
      - entity/column_order_type
      operationId: EntityColumnOrderTypeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/company:
    get:
      description: ''
      summary: EntityCompany_GET
      tags:
      - entity/company
      operationId: EntityCompany_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/company/describe:
    get:
      description: ''
      summary: EntityCompanyDescribe_GET
      tags:
      - entity/company
      operationId: EntityCompanyDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/company/{id}:
    get:
      description: ''
      summary: EntityCompanyById_GET
      tags:
      - entity/company
      operationId: EntityCompanyById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
    patch:
      description: ''
      summary: EntityCompanyById_PATCH
      tags:
      - entity/company
      operationId: EntityCompanyById_PATCH
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/company_parm:
    get:
      description: ''
      summary: EntityCompanyParm_GET
      tags:
      - entity/company_parm
      operationId: EntityCompanyParm_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
    post:
      description: ''
      summary: EntityCompanyParm_POST
      tags:
      - entity/company_parm
      operationId: EntityCompanyParm_POST
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        201:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/company_parm/describe:
    get:
      description: ''
      summary: EntityCompanyParmDescribe_GET
      tags:
      - entity/company_parm
      operationId: EntityCompanyParmDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/company_parm/{id}:
    get:
      description: ''
      summary: EntityCompanyParmById_GET
      tags:
      - entity/company_parm
      operationId: EntityCompanyParmById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/company_type:
    get:
      description: ''
      summary: EntityCompanyType_GET
      tags:
      - entity/company_type
      operationId: EntityCompanyType_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/company_type/describe:
    get:
      description: ''
      summary: EntityCompanyTypeDescribe_GET
      tags:
      - entity/company_type
      operationId: EntityCompanyTypeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/company_type/{id}:
    get:
      description: ''
      summary: EntityCompanyTypeById_GET
      tags:
      - entity/company_type
      operationId: EntityCompanyTypeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/condition_type:
    get:
      description: ''
      summary: EntityConditionType_GET
      tags:
      - entity/condition_type
      operationId: EntityConditionType_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/condition_type/describe:
    get:
      description: ''
      summary: EntityConditionTypeDescribe_GET
      tags:
      - entity/condition_type
      operationId: EntityConditionTypeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/condition_type/{id}:
    get:
      description: ''
      summary: EntityConditionTypeById_GET
      tags:
      - entity/condition_type
      operationId: EntityConditionTypeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/contact:
    get:
      description: ''
      summary: EntityContact_GET
      tags:
      - entity/contact
      operationId: EntityContact_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/contact/describe:
    get:
      description: ''
      summary: EntityContactDescribe_GET
      tags:
      - entity/contact
      operationId: EntityContactDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/contact/{id}:
    get:
      description: ''
      summary: EntityContactById_GET
      tags:
      - entity/contact
      operationId: EntityContactById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/container:
    get:
      description: ''
      summary: EntityContainer_GET
      tags:
      - entity/container
      operationId: EntityContainer_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/container/bulk_lock:
    post:
      description: ''
      summary: EntityContainerBulkLock_POST
      tags:
      - entity/container
      operationId: EntityContainerBulkLock_POST
      responses:
        201:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/container/bulk_unlock:
    post:
      description: ''
      summary: EntityContainerBulkUnlock_POST
      tags:
      - entity/container
      operationId: EntityContainerBulkUnlock_POST
      responses:
        201:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/container/depalletize:
    post:
      description: ''
      summary: EntityContainerDepalletize_POST
      tags:
      - entity/container
      operationId: EntityContainerDepalletize_POST
      responses:
        201:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/container/describe:
    get:
      description: ''
      summary: EntityContainerDescribe_GET
      tags:
      - entity/container
      operationId: EntityContainerDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/container/{id}:
    get:
      description: ''
      summary: EntityContainerById_GET
      tags:
      - entity/container
      operationId: EntityContainerById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
    patch:
      description: ''
      summary: EntityContainerById_PATCH
      tags:
      - entity/container
      operationId: EntityContainerById_PATCH
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/container/{id}/lock:
    post:
      description: ''
      summary: EntityContainerLockById_POST
      tags:
      - entity/container
      operationId: EntityContainerLockById_POST
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      responses:
        201:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/container/{id}/unlock:
    post:
      description: ''
      summary: EntityContainerUnlockById_POST
      tags:
      - entity/container
      operationId: EntityContainerUnlockById_POST
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      responses:
        201:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/container/{id}/orders:
    get:
      description: ''
      summary: EntityContainerOrdersById_GET
      tags:
      - entity/container
      operationId: EntityContainerOrdersById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/container/{id}/palletize:
    post:
      description: ''
      summary: EntityContainerPalletizeById_POST
      tags:
      - entity/container
      operationId: EntityContainerPalletizeById_POST
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      responses:
        201:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/container/{id}/depalletize:
    post:
      description: ''
      summary: EntityContainerDepalletizeById_POST
      tags:
      - entity/container
      operationId: EntityContainerDepalletizeById_POST
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      responses:
        201:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/container_status:
    get:
      description: ''
      summary: EntityContainerStatus_GET
      tags:
      - entity/container_status
      operationId: EntityContainerStatus_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/container_status/describe:
    get:
      description: ''
      summary: EntityContainerStatusDescribe_GET
      tags:
      - entity/container_status
      operationId: EntityContainerStatusDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/container_status/{id}:
    get:
      description: ''
      summary: EntityContainerStatusById_GET
      tags:
      - entity/container_status
      operationId: EntityContainerStatusById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/container_vas_status:
    get:
      description: ''
      summary: EntityContainerVasStatus_GET
      tags:
      - entity/container_vas_status
      operationId: EntityContainerVasStatus_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/container_vas_status/describe:
    get:
      description: ''
      summary: EntityContainerVasStatusDescribe_GET
      tags:
      - entity/container_vas_status
      operationId: EntityContainerVasStatusDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/container_vas_status/{id}:
    get:
      description: ''
      summary: EntityContainerVasStatusById_GET
      tags:
      - entity/container_vas_status
      operationId: EntityContainerVasStatusById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/cubing_mode:
    get:
      description: ''
      summary: EntityCubingMode_GET
      tags:
      - entity/cubing_mode
      operationId: EntityCubingMode_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/cubing_mode/describe:
    get:
      description: ''
      summary: EntityCubingModeDescribe_GET
      tags:
      - entity/cubing_mode
      operationId: EntityCubingModeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/cubing_mode/{id}:
    get:
      description: ''
      summary: EntityCubingModeById_GET
      tags:
      - entity/cubing_mode
      operationId: EntityCubingModeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/date_format:
    get:
      description: ''
      summary: EntityDateFormat_GET
      tags:
      - entity/date_format
      operationId: EntityDateFormat_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/date_format/describe:
    get:
      description: ''
      summary: EntityDateFormatDescribe_GET
      tags:
      - entity/date_format
      operationId: EntityDateFormatDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/date_format/{id}:
    get:
      description: ''
      summary: EntityDateFormatById_GET
      tags:
      - entity/date_format
      operationId: EntityDateFormatById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/destination_location_type:
    get:
      description: ''
      summary: EntityDestinationLocationType_GET
      tags:
      - entity/destination_location_type
      operationId: EntityDestinationLocationType_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/destination_location_type/describe:
    get:
      description: ''
      summary: EntityDestinationLocationTypeDescribe_GET
      tags:
      - entity/destination_location_type
      operationId: EntityDestinationLocationTypeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/destination_location_type/{id}:
    get:
      description: ''
      summary: EntityDestinationLocationTypeById_GET
      tags:
      - entity/destination_location_type
      operationId: EntityDestinationLocationTypeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/dock:
    get:
      description: ''
      summary: EntityDock_GET
      tags:
      - entity/dock
      operationId: EntityDock_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/dock/describe:
    get:
      description: ''
      summary: EntityDockDescribe_GET
      tags:
      - entity/dock
      operationId: EntityDockDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/dock/{id}:
    get:
      description: ''
      summary: EntityDockById_GET
      tags:
      - entity/dock
      operationId: EntityDockById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/dock_status:
    get:
      description: ''
      summary: EntityDockStatus_GET
      tags:
      - entity/dock_status
      operationId: EntityDockStatus_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/dock_status/describe:
    get:
      description: ''
      summary: EntityDockStatusDescribe_GET
      tags:
      - entity/dock_status
      operationId: EntityDockStatusDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/dock_status/{id}:
    get:
      description: ''
      summary: EntityDockStatusById_GET
      tags:
      - entity/dock_status
      operationId: EntityDockStatusById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/dock_type:
    get:
      description: ''
      summary: EntityDockType_GET
      tags:
      - entity/dock_type
      operationId: EntityDockType_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/dock_type/describe:
    get:
      description: ''
      summary: EntityDockTypeDescribe_GET
      tags:
      - entity/dock_type
      operationId: EntityDockTypeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/dock_type/{id}:
    get:
      description: ''
      summary: EntityDockTypeById_GET
      tags:
      - entity/dock_type
      operationId: EntityDockTypeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/describe:
    get:
      description: ''
      summary: EntityDescribe_GET
      tags:
      - entity/entity
      operationId: EntityDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/entity_change_action:
    get:
      description: ''
      summary: EntityEntityChangeAction_GET
      tags:
      - entity/entity_change_action
      operationId: EntityEntityChangeAction_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/entity_change_action/describe:
    get:
      description: ''
      summary: EntityEntityChangeActionDescribe_GET
      tags:
      - entity/entity_change_action
      operationId: EntityEntityChangeActionDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/entity_change_action/{id}:
    get:
      description: ''
      summary: EntityEntityChangeActionById_GET
      tags:
      - entity/entity_change_action
      operationId: EntityEntityChangeActionById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/facility:
    get:
      description: ''
      summary: EntityFacility_GET
      tags:
      - entity/facility
      operationId: EntityFacility_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/facility/describe:
    get:
      description: ''
      summary: EntityFacilityDescribe_GET
      tags:
      - entity/facility
      operationId: EntityFacilityDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/facility/{id}:
    get:
      description: ''
      summary: EntityFacilityById_GET
      tags:
      - entity/facility
      operationId: EntityFacilityById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
    patch:
      description: ''
      summary: EntityFacilityById_PATCH
      tags:
      - entity/facility
      operationId: EntityFacilityById_PATCH
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/facility_parm:
    get:
      description: ''
      summary: EntityFacilityParm_GET
      tags:
      - entity/facility_parm
      operationId: EntityFacilityParm_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
    post:
      description: ''
      summary: EntityFacilityParm_POST
      tags:
      - entity/facility_parm
      operationId: EntityFacilityParm_POST
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        201:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/facility_parm/describe:
    get:
      description: ''
      summary: EntityFacilityParmDescribe_GET
      tags:
      - entity/facility_parm
      operationId: EntityFacilityParmDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/facility_parm/{id}:
    get:
      description: ''
      summary: EntityFacilityParmById_GET
      tags:
      - entity/facility_parm
      operationId: EntityFacilityParmById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/facility_type:
    get:
      description: ''
      summary: EntityFacilityType_GET
      tags:
      - entity/facility_type
      operationId: EntityFacilityType_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/facility_type/describe:
    get:
      description: ''
      summary: EntityFacilityTypeDescribe_GET
      tags:
      - entity/facility_type
      operationId: EntityFacilityTypeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/facility_type/{id}:
    get:
      description: ''
      summary: EntityFacilityTypeById_GET
      tags:
      - entity/facility_type
      operationId: EntityFacilityTypeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/form_type:
    get:
      description: ''
      summary: EntityFormType_GET
      tags:
      - entity/form_type
      operationId: EntityFormType_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/form_type/describe:
    get:
      description: ''
      summary: EntityFormTypeDescribe_GET
      tags:
      - entity/form_type
      operationId: EntityFormTypeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/form_type/{id}:
    get:
      description: ''
      summary: EntityFormTypeById_GET
      tags:
      - entity/form_type
      operationId: EntityFormTypeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/hazmat_regulation_type:
    get:
      description: ''
      summary: EntityHazmatRegulationType_GET
      tags:
      - entity/hazmat_regulation_type
      operationId: EntityHazmatRegulationType_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/hazmat_regulation_type/describe:
    get:
      description: ''
      summary: EntityHazmatRegulationTypeDescribe_GET
      tags:
      - entity/hazmat_regulation_type
      operationId: EntityHazmatRegulationTypeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/hazmat_regulation_type/{id}:
    get:
      description: ''
      summary: EntityHazmatRegulationTypeById_GET
      tags:
      - entity/hazmat_regulation_type
      operationId: EntityHazmatRegulationTypeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/hire_type:
    get:
      description: ''
      summary: EntityHireType_GET
      tags:
      - entity/hire_type
      operationId: EntityHireType_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/hire_type/describe:
    get:
      description: ''
      summary: EntityHireTypeDescribe_GET
      tags:
      - entity/hire_type
      operationId: EntityHireTypeDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/hire_type/{id}:
    get:
      description: ''
      summary: EntityHireTypeById_GET
      tags:
      - entity/hire_type
      operationId: EntityHireTypeById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/ib_shipment:
    get:
      description: ''
      summary: EntityIbShipment_GET
      tags:
      - entity/ib_shipment
      operationId: EntityIbShipment_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/ib_shipment/describe:
    get:
      description: ''
      summary: EntityIbShipmentDescribe_GET
      tags:
      - entity/ib_shipment
      operationId: EntityIbShipmentDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/ib_shipment/{id}:
    get:
      description: ''
      summary: EntityIbShipmentById_GET
      tags:
      - entity/ib_shipment
      operationId: EntityIbShipmentById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
    patch:
      description: ''
      summary: EntityIbShipmentById_PATCH
      tags:
      - entity/ib_shipment
      operationId: EntityIbShipmentById_PATCH
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/ib_shipment_dtl:
    get:
      description: ''
      summary: EntityIbShipmentDtl_GET
      tags:
      - entity/ib_shipment_dtl
      operationId: EntityIbShipmentDtl_GET
      parameters:
      - name: fields
        in: query
        type: string
        description: ''
      - name: ordering
        in: query
        type: string
        description: ''
      - name: page_mode
        in: query
        enum:
        - paged
        - sequenced
        default: paged
        type: string
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/ib_shipment_dtl/describe:
    get:
      description: ''
      summary: EntityIbShipmentDtlDescribe_GET
      tags:
      - entity/ib_shipment_dtl
      operationId: EntityIbShipmentDtlDescribe_GET
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: {}
            application/xml: ''
  /entity/ib_shipment_dtl/{id}:
    get:
      description: ''
      summary: EntityIbShipmentDtlById_GET
      tags:
      - entity/ib_shipment_dtl
      operationId: EntityIbShipmentDtlById_GET
      parameters:
      - name: id
        in: path
        required: true
        type: number
        description: ''
      - name: fields
        in: query
        type: string
        description: ''
[...]
