---
swagger: "2.0"
info:
  description: "This is a sample definition of the Oracle WMS Cloud REST API.\n\n\
    The views expressed here are my own and do not necessarily reflect the views of\
    \ Oracle."
  version: "1.0"
  title: "REST API"
host: "demo.wms.ocs.oraclecloud.com"
basePath: "/demo_a9/wms/lgfapi/v10"
tags:
- name: "entity/action_code"
  description: ""
- name: "entity/active_location"
  description: ""
- name: "entity/allocation"
  description: ""
- name: "entity/allocation_distribution_mode"
  description: ""
- name: "entity/allocation_status"
  description: ""
- name: "entity/answer_input_type"
  description: ""
- name: "entity/appointment"
  description: ""
- name: "entity/appointment_status"
  description: ""
- name: "entity/asset_status"
  description: ""
- name: "entity/audit_mode"
  description: ""
- name: "entity/audit_status"
  description: ""
- name: "entity/audit_type"
  description: ""
- name: "entity/barcode_type"
  description: ""
- name: "entity/barcode_type_dtl"
  description: ""
- name: "entity/batch_number"
  description: ""
- name: "entity/break_by_modifier"
  description: ""
- name: "entity/bridge_status"
  description: ""
- name: "entity/capacity_check_method"
  description: ""
- name: "entity/carrier_integration_type"
  description: ""
- name: "entity/carrier_lpn"
  description: ""
- name: "entity/carrier_status"
  description: ""
- name: "entity/carrier_type"
  description: ""
- name: "entity/carrier_webservice_label_type"
  description: ""
- name: "entity/cc_adjustment_status"
  description: ""
- name: "entity/cc_creation_type"
  description: ""
- name: "entity/cc_trigger"
  description: ""
- name: "entity/cc_warning"
  description: ""
- name: "entity/check_digit_method"
  description: ""
- name: "entity/column_order_type"
  description: ""
- name: "entity/company"
  description: ""
- name: "entity/company_parm"
  description: ""
- name: "entity/company_type"
  description: ""
- name: "entity/condition_type"
  description: ""
- name: "entity/contact"
  description: ""
- name: "entity/container"
  description: ""
- name: "entity/container_status"
  description: ""
- name: "entity/container_vas_status"
  description: ""
- name: "entity/cubing_mode"
  description: ""
- name: "entity/date_format"
  description: ""
- name: "entity/destination_location_type"
  description: ""
- name: "entity/dock"
  description: ""
- name: "entity/dock_status"
  description: ""
- name: "entity/dock_type"
  description: ""
- name: "entity/entity"
  description: ""
- name: "entity/entity_change_action"
  description: ""
- name: "entity/facility"
  description: ""
- name: "entity/facility_parm"
  description: ""
- name: "entity/facility_type"
  description: ""
- name: "entity/form_type"
  description: ""
- name: "entity/hazmat_regulation_type"
  description: ""
- name: "entity/hire_type"
  description: ""
- name: "entity/ib_shipment"
  description: ""
- name: "entity/ib_shipment_dtl"
  description: ""
- name: "entity/ib_shipment_serial_nbr"
  description: ""
- name: "entity/ib_shipment_status"
  description: ""
- name: "entity/iblpn"
  description: ""
- name: "entity/interface_format_type"
  description: ""
- name: "entity/interface_protocol"
  description: ""
- name: "entity/interface_type"
  description: ""
- name: "entity/inventory"
  description: ""
- name: "entity/inventory_attribute"
  description: ""
- name: "entity/inventory_lock"
  description: ""
- name: "entity/inventory_status"
  description: ""
- name: "entity/invoice_status"
  description: ""
- name: "entity/item"
  description: ""
- name: "entity/item_assignment_type"
  description: ""
- name: "entity/item_characteristics"
  description: ""
- name: "entity/item_metrics"
  description: ""
- name: "entity/label_type"
  description: ""
- name: "entity/language"
  description: ""
- name: "entity/lgfapi_archive_level"
  description: ""
- name: "entity/load"
  description: ""
- name: "entity/load_status"
  description: ""
- name: "entity/location"
  description: ""
- name: "entity/location_size_type"
  description: ""
- name: "entity/location_type"
  description: ""
- name: "entity/mhe_destination_code"
  description: ""
- name: "entity/mhe_msg_type"
  description: ""
- name: "entity/mhe_route_config_function"
  description: ""
- name: "entity/mhe_trigger"
  description: ""
- name: "entity/mhe_type"
  description: ""
- name: "entity/multi_field_barcode_delimiter"
  description: ""
- name: "entity/ob_stop"
  description: ""
- name: "entity/ob_stop_dtl"
  description: ""
- name: "entity/oblpn"
  description: ""
- name: "entity/oblpn_printing_validation"
  description: ""
- name: "entity/order_dtl"
  description: ""
- name: "entity/order_hdr"
  description: ""
- name: "entity/order_instruction"
  description: ""
- name: "entity/order_instruction_level"
  description: ""
- name: "entity/order_instruction_type"
  description: ""
- name: "entity/order_lock"
  description: ""
- name: "entity/order_status"
  description: ""
- name: "entity/order_type"
  description: ""
- name: "entity/order_validation_mode"
  description: ""
- name: "entity/pallet"
  description: ""
- name: "entity/pallet_activity"
  description: ""
- name: "entity/pallet_status"
  description: ""
- name: "entity/parcel_manifest"
  description: ""
- name: "entity/parcel_manifest_status"
  description: ""
- name: "entity/parcel_shipment"
  description: ""
- name: "entity/parcel_shipment_dtl"
  description: ""
- name: "entity/parcel_transaction_status"
  description: ""
- name: "entity/parm_type"
  description: ""
- name: "entity/payment_method"
  description: ""
- name: "entity/printer"
  description: ""
- name: "entity/printer_protocol"
  description: ""
- name: "entity/printer_type"
  description: ""
- name: "entity/process_monitor_status"
  description: ""
- name: "entity/property_prompt_mode"
  description: ""
- name: "entity/purchase_order_dtl"
  description: ""
- name: "entity/purchase_order_hdr"
  description: ""
- name: "entity/purchase_order_status"
  description: ""
- name: "entity/putaway_method"
  description: ""
- name: "entity/putaway_priority"
  description: ""
- name: "entity/putaway_search_mode"
  description: ""
- name: "entity/putaway_type"
  description: ""
- name: "entity/putaway_type_calc_rule"
  description: ""
- name: "entity/qc_status"
  description: ""
- name: "entity/reason_code_type"
  description: ""
- name: "entity/receipt_validation_type"
  description: ""
- name: "entity/record_status"
  description: ""
- name: "entity/replenishment_trigger_mode"
  description: ""
- name: "entity/replenishment_zone"
  description: ""
- name: "entity/report_sub_type"
  description: ""
- name: "entity/report_type"
  description: ""
- name: "entity/reserve_location"
  description: ""
- name: "entity/rf_key_code"
  description: ""
- name: "entity/route_hdr_status"
  description: ""
- name: "entity/routing_mode"
  description: ""
- name: "entity/screen_type"
  description: ""
- name: "entity/selection_type"
  description: ""
- name: "entity/seq_counter"
  description: ""
- name: "entity/serial_nbr"
  description: ""
- name: "entity/serial_nbr_action_code"
  description: ""
- name: "entity/serial_nbr_inventory"
  description: ""
- name: "entity/shift"
  description: ""
- name: "entity/shipment_verif_orderdtl_cancel_mode"
  description: ""
- name: "entity/shipping_blocked_selection_criteria"
  description: ""
- name: "entity/sql_operator"
  description: ""
- name: "entity/sql_selection"
  description: ""
- name: "entity/stage_status"
  description: ""
- name: "entity/standard_check_digit_method"
  description: ""
- name: "entity/stop_status"
  description: ""
- name: "entity/task"
  description: ""
- name: "entity/task_activity"
  description: ""
- name: "entity/task_status"
  description: ""
- name: "entity/template_type"
  description: ""
- name: "entity/time_format"
  description: ""
- name: "entity/time_zone"
  description: ""
- name: "entity/trailer"
  description: ""
- name: "entity/uom"
  description: ""
- name: "entity/ups_routing_code"
  description: ""
- name: "entity/user"
  description: ""
- name: "entity/user_company"
  description: ""
- name: "entity/user_facility"
  description: ""
- name: "entity/value_type"
  description: ""
- name: "entity/vas_execution_status"
  description: ""
- name: "entity/vas_requirement_type"
  description: ""
- name: "entity/vendor"
  description: ""
- name: "entity/verification_entity"
  description: ""
- name: "entity/verification_type"
  description: ""
- name: "entity/wave"
  description: ""
- name: "entity/wave_mhe_status"
  description: ""
- name: "entity/wave_stage"
  description: ""
- name: "entity/wave_status"
  description: ""
- name: "entity/wave_template"
  description: ""
- name: "entity/wave_template_status"
  description: ""
- name: "entity/wave_type"
  description: ""
- name: "entity/wms_activity_code"
  description: ""
- name: "entity/wms_activity_status"
  description: ""
- name: "entity/work_area_activity_type"
  description: ""
- name: "entity/work_order_activity_type"
  description: ""
- name: "entity/work_order_component"
  description: ""
- name: "entity/work_order_hdr"
  description: ""
- name: "entity/work_order_kit"
  description: ""
- name: "entity/work_order_status"
  description: ""
- name: "entity/work_order_type"
  description: ""
- name: "pick_pack"
  description: ""
- name: "print"
  description: ""
- name: "replenishment"
  description: ""
- name: "report"
  description: ""
schemes:
- "https"
consumes:
- "application/json"
- "application/xml"
produces:
- "application/json"
- "application/xml"
security:
- basic: []
- oauth2: []
paths:
  /entity/action_code:
    get:
      tags:
      - "entity/action_code"
      summary: "EntityActionCode_GET"
      description: ""
      operationId: "EntityActionCode_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/action_code/describe:
    get:
      tags:
      - "entity/action_code"
      summary: "EntityActionCodeDescribe_GET"
      description: ""
      operationId: "EntityActionCodeDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/action_code/{id}:
    get:
      tags:
      - "entity/action_code"
      summary: "EntityActionCodeById_GET"
      description: ""
      operationId: "EntityActionCodeById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/active_location:
    get:
      tags:
      - "entity/active_location"
      summary: "EntityActiveLocation_GET"
      description: ""
      operationId: "EntityActiveLocation_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/active_location/describe:
    get:
      tags:
      - "entity/active_location"
      summary: "EntityActiveLocationDescribe_GET"
      description: ""
      operationId: "EntityActiveLocationDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/active_location/{id}:
    get:
      tags:
      - "entity/active_location"
      summary: "EntityActiveLocationById_GET"
      description: ""
      operationId: "EntityActiveLocationById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
    patch:
      tags:
      - "entity/active_location"
      summary: "EntityActiveLocationById_PATCH"
      description: ""
      operationId: "EntityActiveLocationById_PATCH"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/allocation:
    get:
      tags:
      - "entity/allocation"
      summary: "EntityAllocation_GET"
      description: ""
      operationId: "EntityAllocation_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/allocation/describe:
    get:
      tags:
      - "entity/allocation"
      summary: "EntityAllocationDescribe_GET"
      description: ""
      operationId: "EntityAllocationDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/allocation/{id}:
    get:
      tags:
      - "entity/allocation"
      summary: "EntityAllocationById_GET"
      description: ""
      operationId: "EntityAllocationById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/allocation_distribution_mode:
    get:
      tags:
      - "entity/allocation_distribution_mode"
      summary: "EntityAllocationDistributionMode_GET"
      description: ""
      operationId: "EntityAllocationDistributionMode_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/allocation_distribution_mode/describe:
    get:
      tags:
      - "entity/allocation_distribution_mode"
      summary: "EntityAllocationDistributionModeDescribe_GET"
      description: ""
      operationId: "EntityAllocationDistributionModeDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/allocation_distribution_mode/{id}:
    get:
      tags:
      - "entity/allocation_distribution_mode"
      summary: "EntityAllocationDistributionModeById_GET"
      description: ""
      operationId: "EntityAllocationDistributionModeById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/allocation_status:
    get:
      tags:
      - "entity/allocation_status"
      summary: "EntityAllocationStatus_GET"
      description: ""
      operationId: "EntityAllocationStatus_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/allocation_status/describe:
    get:
      tags:
      - "entity/allocation_status"
      summary: "EntityAllocationStatusDescribe_GET"
      description: ""
      operationId: "EntityAllocationStatusDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/allocation_status/{id}:
    get:
      tags:
      - "entity/allocation_status"
      summary: "EntityAllocationStatusById_GET"
      description: ""
      operationId: "EntityAllocationStatusById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/answer_input_type:
    get:
      tags:
      - "entity/answer_input_type"
      summary: "EntityAnswerInputType_GET"
      description: ""
      operationId: "EntityAnswerInputType_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/answer_input_type/describe:
    get:
      tags:
      - "entity/answer_input_type"
      summary: "EntityAnswerInputTypeDescribe_GET"
      description: ""
      operationId: "EntityAnswerInputTypeDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/answer_input_type/{id}:
    get:
      tags:
      - "entity/answer_input_type"
      summary: "EntityAnswerInputTypeById_GET"
      description: ""
      operationId: "EntityAnswerInputTypeById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/appointment:
    get:
      tags:
      - "entity/appointment"
      summary: "EntityAppointment_GET"
      description: ""
      operationId: "EntityAppointment_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/appointment/describe:
    get:
      tags:
      - "entity/appointment"
      summary: "EntityAppointmentDescribe_GET"
      description: ""
      operationId: "EntityAppointmentDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/appointment{id}:
    get:
      tags:
      - "entity/appointment"
      summary: "EntityAppointmentById_GET"
      description: ""
      operationId: "EntityAppointmentById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
    patch:
      tags:
      - "entity/appointment"
      summary: "EntityAppointmentById_PATCH"
      description: ""
      operationId: "EntityAppointmentById_PATCH"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/appointment_status:
    get:
      tags:
      - "entity/appointment_status"
      summary: "EntityAppointmentStatus_GET"
      description: ""
      operationId: "EntityAppointmentStatus_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/appointment_status/describe:
    get:
      tags:
      - "entity/appointment_status"
      summary: "EntityAppointmentStatusDescribe_GET"
      description: ""
      operationId: "EntityAppointmentStatusDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/appointment_status/{id}:
    get:
      tags:
      - "entity/appointment_status"
      summary: "EntityAppointmentStatusById_GET"
      description: ""
      operationId: "EntityAppointmentStatusById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/asset_status:
    get:
      tags:
      - "entity/asset_status"
      summary: "EntityAssetStatus_GET"
      description: ""
      operationId: "EntityAssetStatus_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/asset_status/describe:
    get:
      tags:
      - "entity/asset_status"
      summary: "EntityAssetStatusDescribe_GET"
      description: ""
      operationId: "EntityAssetStatusDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/asset_status/{id}:
    get:
      tags:
      - "entity/asset_status"
      summary: "EntityAssetStatusById_GET"
      description: ""
      operationId: "EntityAssetStatusById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/audit_mode:
    get:
      tags:
      - "entity/audit_mode"
      summary: "EntityAuditMode_GET"
      description: ""
      operationId: "EntityAuditMode_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/audit_mode/describe:
    get:
      tags:
      - "entity/audit_mode"
      summary: "EntityAuditModeDescribe_GET"
      description: ""
      operationId: "EntityAuditModeDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/audit_mode/{id}:
    get:
      tags:
      - "entity/audit_mode"
      summary: "EntityAuditModeById_GET"
      description: ""
      operationId: "EntityAuditModeById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/audit_status:
    get:
      tags:
      - "entity/audit_status"
      summary: "EntityAuditStatus_GET"
      description: ""
      operationId: "EntityAuditStatus_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/audit_status/describe:
    get:
      tags:
      - "entity/audit_status"
      summary: "EntityAuditStatusDescribe_GET"
      description: ""
      operationId: "EntityAuditStatusDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/audit_status/{id}:
    get:
      tags:
      - "entity/audit_status"
      summary: "EntityAuditStatusById_GET"
      description: ""
      operationId: "EntityAuditStatusById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/audit_type:
    get:
      tags:
      - "entity/audit_type"
      summary: "EntityAuditType_GET"
      description: ""
      operationId: "EntityAuditType_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/audit_type/describe:
    get:
      tags:
      - "entity/audit_type"
      summary: "EntityAuditTypeDescribe_GET"
      description: ""
      operationId: "EntityAuditTypeDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/audit_type/{id}:
    get:
      tags:
      - "entity/audit_type"
      summary: "EntityAuditTypeById_GET"
      description: ""
      operationId: "EntityAuditTypeById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/barcode_type:
    get:
      tags:
      - "entity/barcode_type"
      summary: "EntityBarcodeType_GET"
      description: ""
      operationId: "EntityBarcodeType_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/barcode_type/describe:
    get:
      tags:
      - "entity/barcode_type"
      summary: "EntityBarcodeTypeDescribe_GET"
      description: ""
      operationId: "EntityBarcodeTypeDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/barcode_type/{id}:
    get:
      tags:
      - "entity/barcode_type"
      summary: "EntityBarcodeTypeById_GET"
      description: ""
      operationId: "EntityBarcodeTypeById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/barcode_type_dtl:
    get:
      tags:
      - "entity/barcode_type_dtl"
      summary: "EntityBarcodeTypeDtl_GET"
      description: ""
      operationId: "EntityBarcodeTypeDtl_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/barcode_type_dtl/describe:
    get:
      tags:
      - "entity/barcode_type_dtl"
      summary: "EntityBarcodeTypeDtlDescribe_GET"
      description: ""
      operationId: "EntityBarcodeTypeDtlDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/barcode_type_dtl/{id}:
    get:
      tags:
      - "entity/barcode_type_dtl"
      summary: "EntityBarcodeTypeDtlById_GET"
      description: ""
      operationId: "EntityBarcodeTypeDtlById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/batch_number:
    get:
      tags:
      - "entity/batch_number"
      summary: "EntityBatchNumber_GET"
      description: ""
      operationId: "EntityBatchNumber_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
    post:
      tags:
      - "entity/batch_number"
      summary: "EntityBatchNumber_POST"
      description: ""
      operationId: "EntityBatchNumber_POST"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "201":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/batch_number/describe:
    get:
      tags:
      - "entity/batch_number"
      summary: "EntityBatchNumberDescribe_GET"
      description: ""
      operationId: "EntityBatchNumberDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/batch_number/{id}:
    get:
      tags:
      - "entity/batch_number"
      summary: "EntityBatchNumberById_GET"
      description: ""
      operationId: "EntityBatchNumberById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/break_by_modifier:
    get:
      tags:
      - "entity/break_by_modifier"
      summary: "EntityBreakByModifier_GET"
      description: ""
      operationId: "EntityBreakByModifier_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/break_by_modifier/describe:
    get:
      tags:
      - "entity/break_by_modifier"
      summary: "EntityBreakByModifierDescribe_GET"
      description: ""
      operationId: "EntityBreakByModifierDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/break_by_modifier/{id}:
    get:
      tags:
      - "entity/break_by_modifier"
      summary: "EntityBreakByModifierById_GET"
      description: ""
      operationId: "EntityBreakByModifierById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/bridge_status:
    get:
      tags:
      - "entity/bridge_status"
      summary: "EntityBridgeStatus_GET"
      description: ""
      operationId: "EntityBridgeStatus_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/bridge_status/describe:
    get:
      tags:
      - "entity/bridge_status"
      summary: "EntityBridgeStatusDescribe_GET"
      description: ""
      operationId: "EntityBridgeStatusDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/bridge_status/{id}:
    get:
      tags:
      - "entity/bridge_status"
      summary: "EntityBridgeStatusById_GET"
      description: ""
      operationId: "EntityBridgeStatusById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/capacity_check_method:
    get:
      tags:
      - "entity/capacity_check_method"
      summary: "EntityCapacityCheckMethod_GET"
      description: ""
      operationId: "EntityCapacityCheckMethod_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/capacity_check_method/describe:
    get:
      tags:
      - "entity/capacity_check_method"
      summary: "EntityCapacityCheckMethodDescribe_GET"
      description: ""
      operationId: "EntityCapacityCheckMethodDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/capacity_check_method/{id}:
    get:
      tags:
      - "entity/capacity_check_method"
      summary: "EntityCapacityCheckMethodById_GET"
      description: ""
      operationId: "EntityCapacityCheckMethodById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/carrier_integration_type:
    get:
      tags:
      - "entity/carrier_integration_type"
      summary: "EntityCarrierIntegrationType_GET"
      description: ""
      operationId: "EntityCarrierIntegrationType_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/carrier_integration_type/describe:
    get:
      tags:
      - "entity/carrier_integration_type"
      summary: "EntityCarrierIntegrationTypeDescribe_GET"
      description: ""
      operationId: "EntityCarrierIntegrationTypeDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/carrier_integration_type/{id}:
    get:
      tags:
      - "entity/carrier_integration_type"
      summary: "EntityCarrierIntegrationTypeById_GET"
      description: ""
      operationId: "EntityCarrierIntegrationTypeById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/carrier_lpn:
    get:
      tags:
      - "entity/carrier_lpn"
      summary: "EntityCarrierLpn_GET"
      description: ""
      operationId: "EntityCarrierLpn_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/carrier_lpn/describe:
    get:
      tags:
      - "entity/carrier_lpn"
      summary: "EntityCarrierLpnDescribe_GET"
      description: ""
      operationId: "EntityCarrierLpnDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/carrier_lpn/{id}:
    get:
      tags:
      - "entity/carrier_lpn"
      summary: "EntityCarrierLpnById_GET"
      description: ""
      operationId: "EntityCarrierLpnById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/carrier_status:
    get:
      tags:
      - "entity/carrier_status"
      summary: "EntityCarrierStatus_GET"
      description: ""
      operationId: "EntityCarrierStatus_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/carrier_status/describe:
    get:
      tags:
      - "entity/carrier_status"
      summary: "EntityCarrierStatusDescribe_GET"
      description: ""
      operationId: "EntityCarrierStatusDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/carrier_status/{id}:
    get:
      tags:
      - "entity/carrier_status"
      summary: "EntityCarrierStatusById_GET"
      description: ""
      operationId: "EntityCarrierStatusById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/carrier_type:
    get:
      tags:
      - "entity/carrier_type"
      summary: "EntityCarrierType_GET"
      description: ""
      operationId: "EntityCarrierType_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/carrier_type/describe:
    get:
      tags:
      - "entity/carrier_type"
      summary: "EntityCarrierTypeDescribe_GET"
      description: ""
      operationId: "EntityCarrierTypeDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/carrier_type/{id}:
    get:
      tags:
      - "entity/carrier_type"
      summary: "EntityCarrierTypeById_GET"
      description: ""
      operationId: "EntityCarrierTypeById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/carrier_webservice_label_type:
    get:
      tags:
      - "entity/carrier_webservice_label_type"
      summary: "EntityCarrierWebserviceLabelType_GET"
      description: ""
      operationId: "EntityCarrierWebserviceLabelType_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/carrier_webservice_label_type/describe:
    get:
      tags:
      - "entity/carrier_webservice_label_type"
      summary: "EntityCarrierWebserviceLabelTypeDescribe_GET"
      description: ""
      operationId: "EntityCarrierWebserviceLabelTypeDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/carrier_webservice_label_type/{id}:
    get:
      tags:
      - "entity/carrier_webservice_label_type"
      summary: "EntityCarrierWebserviceLabelTypeById_GET"
      description: ""
      operationId: "EntityCarrierWebserviceLabelTypeById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/cc_adjustment_status:
    get:
      tags:
      - "entity/cc_adjustment_status"
      summary: "EntityCcAdjustmentStatus_GET"
      description: ""
      operationId: "EntityCcAdjustmentStatus_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/cc_adjustment_status/describe:
    get:
      tags:
      - "entity/cc_adjustment_status"
      summary: "EntityCcAdjustmentStatusDescribe_GET"
      description: ""
      operationId: "EntityCcAdjustmentStatusDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/cc_adjustment_status/{id}:
    get:
      tags:
      - "entity/cc_adjustment_status"
      summary: "EntityCcAdjustmentStatusById_GET"
      description: ""
      operationId: "EntityCcAdjustmentStatusById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/cc_creation_type:
    get:
      tags:
      - "entity/cc_creation_type"
      summary: "EntityCcCreationType_GET"
      description: ""
      operationId: "EntityCcCreationType_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/cc_creation_type/describe:
    get:
      tags:
      - "entity/cc_creation_type"
      summary: "EntityCcCreationTypeDescribe_GET"
      description: ""
      operationId: "EntityCcCreationTypeDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/cc_creation_type/{id}:
    get:
      tags:
      - "entity/cc_creation_type"
      summary: "EntityCcCreationTypeById_GET"
      description: ""
      operationId: "EntityCcCreationTypeById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/cc_trigger:
    get:
      tags:
      - "entity/cc_trigger"
      summary: "EntityCcTrigger_GET"
      description: ""
      operationId: "EntityCcTrigger_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/cc_trigger/describe:
    get:
      tags:
      - "entity/cc_trigger"
      summary: "EntityCcTriggerDescribe_GET"
      description: ""
      operationId: "EntityCcTriggerDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/cc_trigger/{id}:
    get:
      tags:
      - "entity/cc_trigger"
      summary: "EntityCcTriggerById_GET"
      description: ""
      operationId: "EntityCcTriggerById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/cc_warning:
    get:
      tags:
      - "entity/cc_warning"
      summary: "EntityCcWarning_GET"
      description: ""
      operationId: "EntityCcWarning_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/cc_warning/describe:
    get:
      tags:
      - "entity/cc_warning"
      summary: "EntityCcWarningDescribe_GET"
      description: ""
      operationId: "EntityCcWarningDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/cc_warning/{id}:
    get:
      tags:
      - "entity/cc_warning"
      summary: "EntityCcWarningById_GET"
      description: ""
      operationId: "EntityCcWarningById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/check_digit_method:
    get:
      tags:
      - "entity/check_digit_method"
      summary: "EntityCheckDigitMethod_GET"
      description: ""
      operationId: "EntityCheckDigitMethod_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/check_digit_method/describe:
    get:
      tags:
      - "entity/check_digit_method"
      summary: "EntityCheckDigitMethodDescribe_GET"
      description: ""
      operationId: "EntityCheckDigitMethodDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/check_digit_method/{id}:
    get:
      tags:
      - "entity/check_digit_method"
      summary: "EntityCheckDigitMethodById_GET"
      description: ""
      operationId: "EntityCheckDigitMethodById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/column_order_type:
    get:
      tags:
      - "entity/column_order_type"
      summary: "EntityColumnOrderType_GET"
      description: ""
      operationId: "EntityColumnOrderType_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/column_order_type/describe:
    get:
      tags:
      - "entity/column_order_type"
      summary: "EntityColumnOrderTypeDescribe_GET"
      description: ""
      operationId: "EntityColumnOrderTypeDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/column_order_type/{id}:
    get:
      tags:
      - "entity/column_order_type"
      summary: "EntityColumnOrderTypeById_GET"
      description: ""
      operationId: "EntityColumnOrderTypeById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/company:
    get:
      tags:
      - "entity/company"
      summary: "EntityCompany_GET"
      description: ""
      operationId: "EntityCompany_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/company/describe:
    get:
      tags:
      - "entity/company"
      summary: "EntityCompanyDescribe_GET"
      description: ""
      operationId: "EntityCompanyDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/company/{id}:
    get:
      tags:
      - "entity/company"
      summary: "EntityCompanyById_GET"
      description: ""
      operationId: "EntityCompanyById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
    patch:
      tags:
      - "entity/company"
      summary: "EntityCompanyById_PATCH"
      description: ""
      operationId: "EntityCompanyById_PATCH"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/company_parm:
    get:
      tags:
      - "entity/company_parm"
      summary: "EntityCompanyParm_GET"
      description: ""
      operationId: "EntityCompanyParm_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
    post:
      tags:
      - "entity/company_parm"
      summary: "EntityCompanyParm_POST"
      description: ""
      operationId: "EntityCompanyParm_POST"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "201":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/company_parm/describe:
    get:
      tags:
      - "entity/company_parm"
      summary: "EntityCompanyParmDescribe_GET"
      description: ""
      operationId: "EntityCompanyParmDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/company_parm/{id}:
    get:
      tags:
      - "entity/company_parm"
      summary: "EntityCompanyParmById_GET"
      description: ""
      operationId: "EntityCompanyParmById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/company_type:
    get:
      tags:
      - "entity/company_type"
      summary: "EntityCompanyType_GET"
      description: ""
      operationId: "EntityCompanyType_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/company_type/describe:
    get:
      tags:
      - "entity/company_type"
      summary: "EntityCompanyTypeDescribe_GET"
      description: ""
      operationId: "EntityCompanyTypeDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/company_type/{id}:
    get:
      tags:
      - "entity/company_type"
      summary: "EntityCompanyTypeById_GET"
      description: ""
      operationId: "EntityCompanyTypeById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/condition_type:
    get:
      tags:
      - "entity/condition_type"
      summary: "EntityConditionType_GET"
      description: ""
      operationId: "EntityConditionType_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/condition_type/describe:
    get:
      tags:
      - "entity/condition_type"
      summary: "EntityConditionTypeDescribe_GET"
      description: ""
      operationId: "EntityConditionTypeDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/condition_type/{id}:
    get:
      tags:
      - "entity/condition_type"
      summary: "EntityConditionTypeById_GET"
      description: ""
      operationId: "EntityConditionTypeById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/contact:
    get:
      tags:
      - "entity/contact"
      summary: "EntityContact_GET"
      description: ""
      operationId: "EntityContact_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/contact/describe:
    get:
      tags:
      - "entity/contact"
      summary: "EntityContactDescribe_GET"
      description: ""
      operationId: "EntityContactDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/contact/{id}:
    get:
      tags:
      - "entity/contact"
      summary: "EntityContactById_GET"
      description: ""
      operationId: "EntityContactById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/container:
    get:
      tags:
      - "entity/container"
      summary: "EntityContainer_GET"
      description: ""
      operationId: "EntityContainer_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/container/bulk_lock:
    post:
      tags:
      - "entity/container"
      summary: "EntityContainerBulkLock_POST"
      description: ""
      operationId: "EntityContainerBulkLock_POST"
      parameters: []
      responses:
        "201":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/container/bulk_unlock:
    post:
      tags:
      - "entity/container"
      summary: "EntityContainerBulkUnlock_POST"
      description: ""
      operationId: "EntityContainerBulkUnlock_POST"
      parameters: []
      responses:
        "201":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/container/depalletize:
    post:
      tags:
      - "entity/container"
      summary: "EntityContainerDepalletize_POST"
      description: ""
      operationId: "EntityContainerDepalletize_POST"
      parameters: []
      responses:
        "201":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/container/describe:
    get:
      tags:
      - "entity/container"
      summary: "EntityContainerDescribe_GET"
      description: ""
      operationId: "EntityContainerDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/container/{id}:
    get:
      tags:
      - "entity/container"
      summary: "EntityContainerById_GET"
      description: ""
      operationId: "EntityContainerById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
    patch:
      tags:
      - "entity/container"
      summary: "EntityContainerById_PATCH"
      description: ""
      operationId: "EntityContainerById_PATCH"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/container/{id}/lock:
    post:
      tags:
      - "entity/container"
      summary: "EntityContainerLockById_POST"
      description: ""
      operationId: "EntityContainerLockById_POST"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      responses:
        "201":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/container/{id}/unlock:
    post:
      tags:
      - "entity/container"
      summary: "EntityContainerUnlockById_POST"
      description: ""
      operationId: "EntityContainerUnlockById_POST"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      responses:
        "201":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/container/{id}/orders:
    get:
      tags:
      - "entity/container"
      summary: "EntityContainerOrdersById_GET"
      description: ""
      operationId: "EntityContainerOrdersById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/container/{id}/palletize:
    post:
      tags:
      - "entity/container"
      summary: "EntityContainerPalletizeById_POST"
      description: ""
      operationId: "EntityContainerPalletizeById_POST"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      responses:
        "201":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/container/{id}/depalletize:
    post:
      tags:
      - "entity/container"
      summary: "EntityContainerDepalletizeById_POST"
      description: ""
      operationId: "EntityContainerDepalletizeById_POST"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      responses:
        "201":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/container_status:
    get:
      tags:
      - "entity/container_status"
      summary: "EntityContainerStatus_GET"
      description: ""
      operationId: "EntityContainerStatus_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/container_status/describe:
    get:
      tags:
      - "entity/container_status"
      summary: "EntityContainerStatusDescribe_GET"
      description: ""
      operationId: "EntityContainerStatusDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/container_status/{id}:
    get:
      tags:
      - "entity/container_status"
      summary: "EntityContainerStatusById_GET"
      description: ""
      operationId: "EntityContainerStatusById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/container_vas_status:
    get:
      tags:
      - "entity/container_vas_status"
      summary: "EntityContainerVasStatus_GET"
      description: ""
      operationId: "EntityContainerVasStatus_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/container_vas_status/describe:
    get:
      tags:
      - "entity/container_vas_status"
      summary: "EntityContainerVasStatusDescribe_GET"
      description: ""
      operationId: "EntityContainerVasStatusDescribe_GET"
      parameters: []
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/container_vas_status/{id}:
    get:
      tags:
      - "entity/container_vas_status"
      summary: "EntityContainerVasStatusById_GET"
      description: ""
      operationId: "EntityContainerVasStatusById_GET"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "number"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
  /entity/cubing_mode:
    get:
      tags:
      - "entity/cubing_mode"
      summary: "EntityCubingMode_GET"
      description: ""
      operationId: "EntityCubingMode_GET"
      parameters:
      - name: "fields"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Fields"
        x-optionalDataType: "String"
      - name: "ordering"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "page_mode"
        in: "query"
        required: false
        type: "string"
        default: "paged"
        enum:
        - "paged"
        - "sequenced"
        x-exportParamName: "PageMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: ""
          examples:
            application/json: {}
            application/xml: ""
          schema:
            type: "object"
[...]
