# coding: utf-8

"""
    REST API

    This is a sample definition of the Oracle WMS Cloud REST API.  The views expressed here are my own and do not necessarily reflect the views of Oracle.  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class EntitytaskApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def entity_task_by_id_get(self, id, **kwargs):  # noqa: E501
        """EntityTaskById_GET  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.entity_task_by_id_get(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float id:  (required)
        :param str fields: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.entity_task_by_id_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.entity_task_by_id_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def entity_task_by_id_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """EntityTaskById_GET  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.entity_task_by_id_get_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float id:  (required)
        :param str fields: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'fields']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method entity_task_by_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `entity_task_by_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
#        auth_settings = ['basic', 'oauth2']  # noqa: E501
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/entity/task/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def entity_task_describe_get(self, **kwargs):  # noqa: E501
        """EntityTaskDescribe_GET  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.entity_task_describe_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.entity_task_describe_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.entity_task_describe_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def entity_task_describe_get_with_http_info(self, **kwargs):  # noqa: E501
        """EntityTaskDescribe_GET  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.entity_task_describe_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method entity_task_describe_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
#        auth_settings = ['basic', 'oauth2']  # noqa: E501
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/entity/task/describe', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def entity_task_get(self, **kwargs):  # noqa: E501
        """EntityTask_GET  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.entity_task_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str fields: 
        :param str ordering: 
        :param str page_mode:
        :param int facility_id: 
        :param str facility_id__code: 
        :param str location_barcode: 
        :param str task_type: 
        :param str ordering_rule: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.entity_task_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.entity_task_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def entity_task_get_with_http_info(self, **kwargs):  # noqa: E501
        """EntityTask_GET  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.entity_task_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str fields: 
        :param str ordering: 
        :param str page_mode:
        :param int facility_id: 
        :param str facility_id__code: 
        :param str location_barcode: 
        :param str task_type: 
        :param str ordering_rule: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fields', 'ordering', 'page_mode', 'facility_id', 'facility_id__code', 'location_barcode', 'task_type', 'ordering_rule']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method entity_task_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
        if 'ordering' in params:
            query_params.append(('ordering', params['ordering']))  # noqa: E501
        if 'page_mode' in params:
            query_params.append(('page_mode', params['page_mode']))  # noqa: E501
        if 'facility_id' in params:
            query_params.append(('facility_id', params['facility_id']))  # noqa: E501
        if 'facility_id__code' in params:
            query_params.append(('facility_id__code', params['facility_id__code']))  # noqa: E501
        if 'location_barcode' in params:
            query_params.append(('location_barcode', params['location_barcode']))  # noqa: E501
        if 'task_type' in params:
            query_params.append(('task_type', params['task_type']))  # noqa: E501
        if 'ordering_rule' in params:
            query_params.append(('ordering_rule', params['ordering_rule']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
#        auth_settings = ['basic', 'oauth2']  # noqa: E501
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/entity/task', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def entity_task_next_task_get(self, facility_id, facility_id__code, location_barcode, ordering_rule, task_type, **kwargs):  # noqa: E501
        """EntityTaskNextTask_GET  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.entity_task_next_task_get(facility_id, facility_id__code, location_barcode, ordering_rule, task_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float facility_id:  (required)
        :param str facility_id__code:  (required)
        :param str location_barcode:  (required)
        :param str ordering_rule:  (required)
        :param str task_type:  (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.entity_task_next_task_get_with_http_info(facility_id, facility_id__code, location_barcode, ordering_rule, task_type, **kwargs)  # noqa: E501
        else:
            (data) = self.entity_task_next_task_get_with_http_info(facility_id, facility_id__code, location_barcode, ordering_rule, task_type, **kwargs)  # noqa: E501
            return data

    def entity_task_next_task_get_with_http_info(self, facility_id, facility_id__code, location_barcode, ordering_rule, task_type, **kwargs):  # noqa: E501
        """EntityTaskNextTask_GET  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.entity_task_next_task_get_with_http_info(facility_id, facility_id__code, location_barcode, ordering_rule, task_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float facility_id:  (required)
        :param str facility_id__code:  (required)
        :param str location_barcode:  (required)
        :param str ordering_rule:  (required)
        :param str task_type:  (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['facility_id', 'facility_id__code', 'location_barcode', 'ordering_rule', 'task_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method entity_task_next_task_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'facility_id' is set
        if ('facility_id' not in params or
                params['facility_id'] is None):
            raise ValueError("Missing the required parameter `facility_id` when calling `entity_task_next_task_get`")  # noqa: E501
        # verify the required parameter 'facility_id__code' is set
        if ('facility_id__code' not in params or
                params['facility_id__code'] is None):
            raise ValueError("Missing the required parameter `facility_id__code` when calling `entity_task_next_task_get`")  # noqa: E501
        # verify the required parameter 'location_barcode' is set
        if ('location_barcode' not in params or
                params['location_barcode'] is None):
            raise ValueError("Missing the required parameter `location_barcode` when calling `entity_task_next_task_get`")  # noqa: E501
        # verify the required parameter 'ordering_rule' is set
        if ('ordering_rule' not in params or
                params['ordering_rule'] is None):
            raise ValueError("Missing the required parameter `ordering_rule` when calling `entity_task_next_task_get`")  # noqa: E501
        # verify the required parameter 'task_type' is set
        if ('task_type' not in params or
                params['task_type'] is None):
            raise ValueError("Missing the required parameter `task_type` when calling `entity_task_next_task_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'facility_id' in params:
            query_params.append(('facility_id', params['facility_id']))  # noqa: E501
        if 'facility_id__code' in params:
            query_params.append(('facility_id__code', params['facility_id__code']))  # noqa: E501
        if 'location_barcode' in params:
            query_params.append(('location_barcode', params['location_barcode']))  # noqa: E501
        if 'ordering_rule' in params:
            query_params.append(('ordering_rule', params['ordering_rule']))  # noqa: E501
        if 'task_type' in params:
            query_params.append(('task_type', params['task_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
#        auth_settings = ['basic', 'oauth2']  # noqa: E501
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/entity/task/next_task', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
