# coding: utf-8

"""
    REST API

    This is a sample definition of the Oracle WMS Cloud REST API.  The views expressed here are my own and do not necessarily reflect the views of Oracle.  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ReportApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def report_custom_inventory_summary_get(self, item_code, **kwargs):  # noqa: E501
        """ReportCustomInventorySummary_GET  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.report_custom_inventory_summary_get(item_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str item_code:  (required)
        :param float company_id: 
        :param str company_id__code: 
        :param float facility_id: 
        :param str facility_id__code: 
        :param bool write_header_line_flg: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.report_custom_inventory_summary_get_with_http_info(item_code, **kwargs)  # noqa: E501
        else:
            (data) = self.report_custom_inventory_summary_get_with_http_info(item_code, **kwargs)  # noqa: E501
            return data

    def report_custom_inventory_summary_get_with_http_info(self, item_code, **kwargs):  # noqa: E501
        """ReportCustomInventorySummary_GET  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.report_custom_inventory_summary_get_with_http_info(item_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str item_code:  (required)
        :param float company_id: 
        :param str company_id__code: 
        :param float facility_id: 
        :param str facility_id__code: 
        :param bool write_header_line_flg: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item_code', 'company_id', 'company_id__code', 'facility_id', 'facility_id__code', 'write_header_line_flg']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method report_custom_inventory_summary_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item_code' is set
        if ('item_code' not in params or
                params['item_code'] is None):
            raise ValueError("Missing the required parameter `item_code` when calling `report_custom_inventory_summary_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'company_id' in params:
            query_params.append(('company_id', params['company_id']))  # noqa: E501
        if 'company_id__code' in params:
            query_params.append(('company_id__code', params['company_id__code']))  # noqa: E501
        if 'facility_id' in params:
            query_params.append(('facility_id', params['facility_id']))  # noqa: E501
        if 'facility_id__code' in params:
            query_params.append(('facility_id__code', params['facility_id__code']))  # noqa: E501
        if 'item_code' in params:
            query_params.append(('item_code', params['item_code']))  # noqa: E501
        if 'write_header_line_flg' in params:
            query_params.append(('write_header_line_flg', params['write_header_line_flg']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
#        auth_settings = ['basic', 'oauth2']  # noqa: E501
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/report/custom_inventory_summary', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
