/*
 * REST API
 * This is a sample definition of the Oracle WMS Cloud REST API.  The views expressed here are my own and do not necessarily reflect the views of Oracle.
 *
 * OpenAPI spec version: 1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.math.BigDecimal;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ReportApi {
    private ApiClient apiClient;

    public ReportApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ReportApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for reportCustomInventorySummaryGET
     * @param itemCode  (required)
     * @param companyId  (optional)
     * @param companyIdCode  (optional)
     * @param facilityId  (optional)
     * @param facilityIdCode  (optional)
     * @param writeHeaderLineFlg  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call reportCustomInventorySummaryGETCall(String itemCode, BigDecimal companyId, String companyIdCode, BigDecimal facilityId, String facilityIdCode, Boolean writeHeaderLineFlg, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/report/custom_inventory_summary";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (companyId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("company_id", companyId));
        if (companyIdCode != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("company_id__code", companyIdCode));
        if (facilityId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("facility_id", facilityId));
        if (facilityIdCode != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("facility_id__code", facilityIdCode));
        if (itemCode != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("item_code", itemCode));
        if (writeHeaderLineFlg != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("write_header_line_flg", writeHeaderLineFlg));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "application/xml"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basic", "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call reportCustomInventorySummaryGETValidateBeforeCall(String itemCode, BigDecimal companyId, String companyIdCode, BigDecimal facilityId, String facilityIdCode, Boolean writeHeaderLineFlg, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'itemCode' is set
        if (itemCode == null) {
            throw new ApiException("Missing the required parameter 'itemCode' when calling reportCustomInventorySummaryGET(Async)");
        }
        

        com.squareup.okhttp.Call call = reportCustomInventorySummaryGETCall(itemCode, companyId, companyIdCode, facilityId, facilityIdCode, writeHeaderLineFlg, progressListener, progressRequestListener);
        return call;

    }

    /**
     * ReportCustomInventorySummary_GET
     * 
     * @param itemCode  (required)
     * @param companyId  (optional)
     * @param companyIdCode  (optional)
     * @param facilityId  (optional)
     * @param facilityIdCode  (optional)
     * @param writeHeaderLineFlg  (optional)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object reportCustomInventorySummaryGET(String itemCode, BigDecimal companyId, String companyIdCode, BigDecimal facilityId, String facilityIdCode, Boolean writeHeaderLineFlg) throws ApiException {
        ApiResponse<Object> resp = reportCustomInventorySummaryGETWithHttpInfo(itemCode, companyId, companyIdCode, facilityId, facilityIdCode, writeHeaderLineFlg);
        return resp.getData();
    }

    /**
     * ReportCustomInventorySummary_GET
     * 
     * @param itemCode  (required)
     * @param companyId  (optional)
     * @param companyIdCode  (optional)
     * @param facilityId  (optional)
     * @param facilityIdCode  (optional)
     * @param writeHeaderLineFlg  (optional)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> reportCustomInventorySummaryGETWithHttpInfo(String itemCode, BigDecimal companyId, String companyIdCode, BigDecimal facilityId, String facilityIdCode, Boolean writeHeaderLineFlg) throws ApiException {
        com.squareup.okhttp.Call call = reportCustomInventorySummaryGETValidateBeforeCall(itemCode, companyId, companyIdCode, facilityId, facilityIdCode, writeHeaderLineFlg, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * ReportCustomInventorySummary_GET (asynchronously)
     * 
     * @param itemCode  (required)
     * @param companyId  (optional)
     * @param companyIdCode  (optional)
     * @param facilityId  (optional)
     * @param facilityIdCode  (optional)
     * @param writeHeaderLineFlg  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call reportCustomInventorySummaryGETAsync(String itemCode, BigDecimal companyId, String companyIdCode, BigDecimal facilityId, String facilityIdCode, Boolean writeHeaderLineFlg, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = reportCustomInventorySummaryGETValidateBeforeCall(itemCode, companyId, companyIdCode, facilityId, facilityIdCode, writeHeaderLineFlg, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
